<template>
    <div>        

            <div class="panel-heading">
                <div>                   
                    <Buttons :editMode="editMode" ></Buttons>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">Quick Example {{ editMode }} </h3>
                        </div>
                        
                        
                        <div class="card-body">
                            
                            <div class="row">
                                <!--show only to edit--->
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Photos</label>
                                        <DzoneComponent :photableType="photable_Type" :photosList="photos_List" :photableId="photable_Id" :editMode="editMode"></DzoneComponent>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input v-model="form.title" type="text" name="title" class="form-control" :class="{ 'is-invalid': errors.title }" >
                                         <div class="alert alert-danger" v-if="errors.title"> {{errors.title[0]}}</div>
                                    </div>

                                    <div class="form-group">
                                        <label>Max Persons</label>
                                        <input v-model="form.max_pers" type="text" name="max_pers" class="form-control" :class="{ 'is-invalid': errors.max_pers }">
                                        <div class="alert alert-danger" v-if="errors.max_pers"> {{errors.max_pers[0]}}</div>
                                    </div>

                                    <div class="form-group">
                                        <label>Price</label>
                                        <input v-model="form.price" type="text" name="price" class="form-control" :class="{ 'is-invalid': errors.price }">                                        
                                        <div class="alert alert-danger" v-if="errors.price"> {{errors.price[0]}}</div>
                                    </div>
                                </div>
                               
                            
                            
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Groups</label>
                                        <select v-model="form.group_id" class="form-control select2" style="width: 100%;" :class="{ 'is-invalid': errors.group_id }">
                                            <option value="">Select Group</option>
                                            <option v-for="group in groups" :value="group.id">{{group.title}}</option>
                                        </select>
                                         <div class="alert alert-danger" v-if="errors.group_id"> {{errors.group_id[0]}}</div>
                                    </div>

                                    <div class="form-group">
                                        <label>Area</label>
                                        <input v-model="form.area" type="text" name="area" class="form-control" :class="{ 'is-invalid': errors.area }">
                                         <div class="alert alert-danger" v-if="errors.area"> {{errors.area[0]}}</div>
                                    </div>

                                </div>
                            
                            
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Seasons</label>
                                        <select v-model="form.seasongroup_id" class="form-control select2" style="width: 100%;" :class="{ 'is-invalid': errors.seasongroup_id }">
                                            <option value="">Select Group</option>
                                            <option v-for="season in seasonGroups" :value="season.id">{{season.title}}</option>
                                        </select>
                                        <div class="alert alert-danger" v-if="errors.seasongroup_id"> {{errors.seasongroup_id[0]}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label>Room Number</label>
                                        <input v-model="form.room_nubr" type="text" name="room_nubr" class="form-control" :class="{ 'is-invalid': errors.room_nubr }">
                                         <div class="alert alert-danger" v-if="errors.room_nubr"> {{errors.room_nubr[0]}}</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea v-model="form.description" type="text" name="description" class="form-control" :class="{ 'is-invalid': errors.description }"></textarea>
                                        <div class="alert alert-danger" v-if="errors.description"> {{errors.description[0]}}</div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label">Inventories List</label>
                                        <br>
                                        <div class="icheck-danger d-inline">
                                            <div v-for="item in allInventories" style="border:solid 0px red;width:300px;float:left">
                                                <input :value="item.id" v-model="form.selectedInventories" type="checkbox" /> {{item.title}}
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label">Advantages List</label>
                                        <br>
                                        <div class="icheck-danger d-inline">
                                            <div v-for="adv in allAdvantages" style="border:solid 0px red;width:300px;float:left">
                                                <input :value="adv.id" v-model="form.selectedAdvantages" type="checkbox" /> {{adv.title}}
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                            
                       </div> 
                        
                        <div class="card-footer">
                            <div>                               
                                <Buttons :editMode="editMode" ></Buttons>
                            </div>
                        </div>
                        
                        
            </div>
         </div>
      </div>          
            

    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod } from '../../lib/api'
    //import {Typeahead } from '../../components/typeahead'
    //import DzoneComponent from '../../components/DzoneComponent';
    import DzoneComponent from '../../components/dzone/DzoneComponent';
    import Buttons from './Buttons';

    // function initialize(to) {
    //     let urls = {
    //         'create': `/v1/api/properties/create`,
    //         'edit':  `/v1/api/properties/edit/${to.params.id}`
    //     }

    //     return (urls[to.meta.mode] || urls['create'])
    // }
    export default {
        components: { DzoneComponent,Buttons },
        data () {
            return {
                apiList:'',
                apiCreate:'',
                apiEdit:'',
                apiCreate:'',
                apiUpdate:'',     
                //
                urlList:'',               
                urlCreate:'',                 
                urlEdit:'',
                //store: '/v1/api/properties/create',
                //modelList: '/properties',
                ////////////////////////////////////////////////////////// 
                editMode: this.$route.meta.mode,
                form: {},
                errors: {},
                isProcessing: false,
                show: false,
                method: 'POST',
                title: 'Create',
                //////////////////////////////////////////////////////////
                groups:[],
                seasonGroups:[],
                grantedInventories:[], //dont need allPermissions in form only selected 
                allInventories:[], //dont need allPermissions in form only selected 
                grantedAdvantages:[], //dont need allPermissions in form only selected 
                allAdvantages:[], //dont need allPermissions in form only selected 
                //showSubmitFeedback: false,
                //
                photable_Type: "App\\Property",
                photable_Id: this.$route.params.id,
                photos_List: [],
               
            }
        },
        beforeRouteEnter(to, from, next) {           
            get('/v1/api'+to.path)
                .then((res) => {
                    next(vm => vm.setData(res))
                })
        },
        beforeRouteUpdate(to, from, next) {
            this.show = false           
            get('/v1/api'+to.path)
                .then((res) => {
                    this.setData(res)
                    next()
                })
        },
        computed: {
          
        },
        created() {
            this.$eventHub.$on('settings', this.modelSettings) 
        },
        methods: {
            modelSettings(settings){                
                //return name
                this.settings = settings;
                this.urlList = settings.urlList
                this.urlEdit = settings.urlEdit
                this.urlCreate = settings.urlCreate
                //         
                this.apiList = settings.apiList
                this.apiDelete = settings.apiDelete
                this.apiCreate = settings.apiCreate
                this.apiEdit = settings.apiEdit
                this.apiUpdate = settings.apiUpdate
                //console.log(settings)                
            },
            setData(res) { 
                if(this.$route.meta.mode === 'edit') {
                    Vue.set(this.$data, 'form', res.data.form)
                    this.store = this.apiUpdate + this.$route.params.id
                    this.method = 'PUT'
                    this.title = 'Edit'

                    this.grantedInventories = res.data.form.inventories
                    this.grantedAdvantages = res.data.form.advantages
                    this.photos_List = res.data.form.photos;
                }
                 this.allInventories = res.data.allinventories  
                 this.allAdvantages = res.data.alladvantages           
                 this.groups = res.data.allgroups.data
                 this.seasonGroups = res.data.seasonGroups.data
                 ////   
                this.objectToArray(); 
                // this.show = true
                //this.$bar.finish()
            },
            onSave() {
                this.errors = {}
                this.isProcessing = true                
                byMethod('POST',this.$route.meta.mode === 'edit' ? this.apiUpdate+this.form.id : this.apiCreate , this.form)
                    .then((res) => {
                        if(res.data && res.data.saved) {
                            this.success(res)
                             this.loadToast('success','Updated successfully');  
                        }
                        if(res.data && res.data.created) {
                            this.success(res)
                             this.loadToast('success','Created successfully');  
                        }
                    })
                    .catch((error) => {
                        if(error.response.status === 422) {
                            this.errors = error.response.data.errors
                            this.loadToast('error','Check the forms'); 
                        }
                        this.isProcessing = false
                    })
            },
            success(res) {
                this.$router.push(this.urlList+'/'+res.data.id)
                console.log(this.urlList+'/'+res.data.id)
                //this.$router.push('/properties/1')
                
            },
            objectToArray() {
                var invent_array = [];
                var advant_array = [];
                this.grantedInventories.forEach(element => {
                    invent_array.push(element.id);
                });
                this.grantedAdvantages.forEach(element => {
                    advant_array.push(element.id);
                });

                this.form.selectedInventories = invent_array;
                this.form.selectedAdvantages = advant_array;
            },
            loadToast(icon,text){
              toast.fire({icon: icon,title: text })
            }, 
            onDelete(){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!"+this.urlList,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                //byMethod('delete', `/api/properties/${this.model.id}`).then(()=>{
                                byMethod('delete',this.apiDelete+this.$route.params.id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    //Fire.$emit('AfterCreate');
                                    this.$router.push(this.urlList)
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
        }
    }
</script>
