<template>
    <div>

        <div class="panel-heading">
            <div>               
                <Buttons :editMode="editMode" ></Buttons>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Quick Example {{ editMode }} </h3>
                    </div>

                     <!-- <h1>urlList {{ settings.urlList }}</h1>
                     <h1>apiDelete {{ settings.apiDelete }}</h1> -->

                    
                        <div class="card-body">
                            
                            <div class="row">
                                <!--show only to edit--->
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Photos</label>
                                        <DzoneComponent :photableType="photable_Type" :photosList="photos_List" :photableId="photable_Id" :editMode="editMode"></DzoneComponent>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label>Title</label>
                                        <input v-model="form.title" type="text" name="title" class="form-control" disabled>

                                    </div>

                                    <div class="form-group">
                                        <label>Max Persons</label>
                                        <input v-model="form.max_pers" type="text" name="max_pers" class="form-control" disabled>

                                    </div>

                                    <div class="form-group">
                                        <label>Price</label>
                                        <input v-model="form.price" type="text" name="price" class="form-control" disabled>

                                    </div>

                                </div>
                                <!----md-4---->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Groups</label>
                                        <select v-model="form.group_id" class="form-control select2" style="width: 100%;" disabled>
                                            <option value="">Select Group</option>
                                            <option v-for="group in groups" :value="group.id">{{group.title}}</option>
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <label>Area</label>
                                        <input v-model="form.area" type="text" name="area" class="form-control" disabled>

                                    </div>

                                </div>
                                <!----md-4---->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Seasons</label>
                                        <select v-model="form.seasongroup_id" class="form-control select2" style="width: 100%;" disabled>
                                            <option value="">Select Group</option>
                                            <option v-for="season in seasonGroups" :value="season.id">{{season.title}}</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label>Room Number</label>
                                        <input v-model="form.room_nubr" type="text" name="room_nubr" class="form-control" disabled>

                                    </div>
                                </div>
                                <!----md-4---->

                            </div>
                            <!----1st row---->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea v-model="form.description" type="text" name="description" class="form-control" disabled></textarea>

                                    </div>
                                </div>
                                <!----md-4---->
                            </div>
                            <!----2st row---->
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label">Inventories List</label>
                                        <br>
                                        <div class="icheck-danger d-inline">
                                            <div v-for="item in allInventories" style="border:solid 0px red;width:300px;float:left">
                                                <input :value="item.id" v-model="form.selectedInventories" type="checkbox" disabled/> {{item.title}}
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label">Advantages List</label>
                                        <br>
                                        <div class="icheck-danger d-inline">
                                            <div v-for="adv in allAdvantages" style="border:solid 0px red;width:300px;float:left">
                                                <input :value="adv.id" v-model="form.selectedAdvantages" type="checkbox" disabled/> {{adv.title}}
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            

                        </div>

                        <div class="card-footer">
                            <Buttons :urlEdit="urlEdit" :urlList="urlList" :editMode="editMode" ></Buttons>
                        </div>

                    
                    <!-- <pre><code>{{form}}</code></pre>  -->

                </div>
            </div>

        </div>
    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod} from '../../lib/api'
    import DzoneComponent from '../../components/dzone/DzoneComponent';
    import Buttons from './Buttons';

    export default {
        components: { DzoneComponent,Buttons },
        data () {
            return {
                show: false,
                form: {
                    
                },
                ////////////////
                settings: {},
                apiList:'',
                apiCreate:'',
                apiEdit:'',
                apiCreate:'',
                apiUpdate:'',     
                //
                urlList:'',
                urlCreate:'', 
                urlEdit:'',
                editMode: this.$route.meta.mode,
                //
                photable_Type: "App\\Property",
                photable_Id: this.$route.params.id,
                photos_List: [],
                //////////////////////////////////////////////////////////               
                groups:[],
                seasonGroups:[],
                grantedInventories:[], //dont need allPermissions in form only selected 
                allInventories:[], //dont need allPermissions in form only selected 
                grantedAdvantages:[], //dont need allPermissions in form only selected 
                allAdvantages:[], //dont need allPermissions in form only selected 
                //
                //childData: "",
               
            }
        },
        beforeRouteEnter(to, from, next) {           
            get('/v1/api'+to.path+'/edit')           
                .then((res) => {
                    next(vm => vm.setData(res))
                })
        },
        beforeRouteUpdate(to, from, next) {
            this.show = false           
            get('/v1/api'+to.path+'/edit')
                .then((res) => {
                    this.setData(res)
                    next()
                })
        },
        //
        mounted() {            
          
        },
        created() {
            this.$eventHub.$on('settings', this.modelSettings) 
        },
        beforeDestroy(){
            //this.$eventHub.$off('settings');
        },
        //
        methods: {
            modelSettings(settings){                
                //return name
                this.settings = settings;
                this.urlList = settings.modelPlural
                this.urlEdit = settings.urlEdit
                this.urlCreate = settings.urlCreate
                //         
                this.apiList = settings.apiList
                this.apiDelete = settings.apiDelete
                this.apiCreate = settings.apiCreate
                this.apiEdit = settings.apiEdit
                this.apiUpdate = settings.apiUpdate
                //console.log(settings)                
            },
            setData(res) {
                Vue.set(this.$data, 'form', res.data.form)
                this.show = true
                this.groups = res.data.allgroups.data
                this.seasonGroups = res.data.seasonGroups.data
                this.allInventories = res.data.allinventories 
                this.allAdvantages = res.data.alladvantages
                //                 
                this.grantedInventories = res.data.form.inventories
                this.grantedAdvantages = res.data.form.advantages
                this.photos_List = res.data.form.photos;
                //this.$bar.finish()
                this.objectToArray();
            },
            objectToArray() {
            var invent_array = [];
            var advant_array = [];
            this.grantedInventories.forEach(element => {
                invent_array.push(element.id);
            });
            this.grantedAdvantages.forEach(element => {
                advant_array.push(element.id);
            });

            this.form.selectedInventories = invent_array;
            this.form.selectedAdvantages = advant_array;
            },
            // onDelete() { 
            //     alert('delete from view')
            // },             
            onDelete(){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!"+this.urlList,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                //byMethod('delete', `/api/properties/${this.model.id}`).then(()=>{
                                byMethod('delete',this.apiDelete+this.$route.params.id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    //Fire.$emit('AfterCreate');
                                    this.$router.push(this.urlList)
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
        }
    }
</script>
