<template>
    <div>        

            <div class="panel-heading">
                <div>                   
                    <Buttons :editMode="editMode" ></Buttons>
                </div>
            </div>
        
           
          



            <div class="row">
                <div class="col-md-12">
                    <div class="card">


                       

                        <div class="card-header">
                            <h3 class="card-title">Quick Example {{ editMode }} </h3>
                        </div>
                        
                          <!-- <h1>urlList {{ settings.urlList }}</h1>
                        <h1>apiDelete {{ settings.apiDelete }}</h1> -->
                        
                        
                        <div class="card-body">  

                            <div class="row">
                                <!--show only to edit--->
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Photos</label>
                                        <DzoneComponent :photableType="photable_Type" :photosList="photos_List" :photableId="photable_Id" :editMode="editMode"></DzoneComponent>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input v-model="form.title" type="text" name="title" class="form-control" :class="{ 'is-invalid': errors.title }" >
                                         <div class="alert alert-danger" v-if="errors.title"> {{errors.title[0]}}</div>
                                    </div>                                    
                                </div>    
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea v-model="form.description" type="text" name="description" class="form-control" :class="{ 'is-invalid': errors.description }"></textarea>
                                        <div class="alert alert-danger" v-if="errors.description"> {{errors.description[0]}}</div>
                                    </div>
                                </div>
                            </div>                                     
                       </div> 
                        
                        <div class="card-footer">
                            <div>
                                <Buttons :editMode="editMode" ></Buttons>
                            </div>
                        </div>
                        
                        
            </div>
         </div>
      </div>          
            

    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod } from '../../lib/api'
    import {Typeahead } from '../../components/typeahead'   
    import Buttons from './Buttons';
    import DzoneComponent from '../../components/dzone/DzoneComponent';
     

    // function initialize(to) {
    //     let urls = {
    //         'create': `/v1/api/groups/create`,
    //         'edit':  `/v1/api/groups/edit/${to.params.id}`
    //     }

    //     return (urls[to.meta.mode] || urls['create'])
    // }
    export default {
        components: { Typeahead,Buttons,DzoneComponent },
        data () {
            return {
                
                //
                ////////////////
                settings: {},
                apiList:'',
                apiCreate:'',
                apiEdit:'',
                apiCreate:'',
                apiUpdate:'',     
                //
                urlList:'',
                urlCreate:'', 
                urlEdit:'',
                //modelList: '/properties',
                ////////////////////////////////////////////////////////// 
                editMode: this.$route.meta.mode,
                form: {},
                errors: {},
                isProcessing: false,
                show: false,
                method: 'POST',
                title: 'Create',
                //////////////////////////////////////////////////////////
                payments:[],
                statuses:[],               
                errors:{},                
                seasonprices: [],   
                showPriceDetail: false,              
                pricedetails:false,               
                resources:[],
                //
                photable_Type: "App\\Group",
                photable_Id: this.$route.params.id,
                photos_List: [],
               
                
              
               
            }
        },
        beforeRouteEnter(to, from, next) {            
            get('/v1/api'+to.path)
                .then((res) => {
                    next(vm => vm.setData(res))
                })
        },
        beforeRouteUpdate(to, from, next) {           
            this.show = false
            get('/v1/api'+to.path)
                .then((res) => {
                    this.setData(res)
                    next()
                })
        },
        computed: {
            
        },
        created() {
            this.$eventHub.$on('settings', this.modelSettings) 
        },
        methods: {
             modelSettings(settings){                
                //return name
                this.settings = settings;
                this.urlList = settings.urlList
                this.urlEdit = settings.urlEdit
                this.urlCreate = settings.urlCreate
                //         
                this.apiList = settings.apiList
                this.apiDelete = settings.apiDelete
                this.apiCreate = settings.apiCreate
                this.apiEdit = settings.apiEdit
                this.apiUpdate = settings.apiUpdate
                //console.log(settings)                
            },
            setData(res) {       
                if(this.$route.meta.mode === 'edit') {
                    Vue.set(this.$data, 'form', res.data.form) //causes errors on create
                    this.store = this.apiUpdate + this.$route.params.id
                    this.method = 'PUT'
                    this.title = 'Edit'
                    this.photos_List = res.data.form.photos;
                }                

                this.show = true
                //this.$bar.finish()
            },
            // addNewLine() {
            //     this.form.items.push({
            //         product_id: null,
            //         product: null,
            //         unit_price: 0,
            //         qty: 1
            //     })
            // },            
            // removeItem(index) {
            //     this.form.items.splice(index, 1)
            // },
            // onCancel() {
            //     if(this.$route.meta.mode === 'edit') {
            //         this.$router.push(`${this.urlList}/${this.form.id}`)
            //     } else {
            //         this.$router.push(`${this.urlList}`)
            //     }
            // },
            onSave() {
                this.errors = {}
                this.isProcessing = true
                //byMethod(this.method, this.store, this.form)
                byMethod('POST',this.$route.meta.mode === 'edit' ? this.apiUpdate+this.form.id : this.apiCreate , this.form)
                    .then((res) => {
                        if(res.data && res.data.saved) {
                            this.success(res)
                            this.loadToast('success','Updated successfully'); 
                        }
                        if(res.data && res.data.created) {
                            this.success(res)
                             this.loadToast('success','Created successfully');  
                        }
                    })
                    .catch((error) => {
                        if(error.response.status === 422) {
                            this.errors = error.response.data.errors 
                            this.loadToast('error','Check the forms');                           
                        }
                        this.isProcessing = false
                    })
            },
            success(res) {
                this.$router.push(`${this.urlList}/${res.data.id}`)
            },
            loadToast(icon,text){
              toast.fire({icon: icon,title: text })
            }, 
            onDelete(){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                byMethod('delete',this.apiDelete+this.$route.params.id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    //Fire.$emit('AfterCreate');
                                    this.$router.push(this.urlList)
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
          
           
            //////////////////////////////////////////////////////
            
            
        },
        //metods
        mounted() {        
        //this.settingsDaypilot();       
       }
    }
</script>
<style>
   
</style>
