<template>
    <div class="panel">

        <div class="panel-heading">
            
            <div>
                <router-link :to="{path: this.urlCreate}" class="btn btn-primary">New Property</router-link>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-link">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Image</th>
                        <th>Title</th>
                                         
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="item in model.data" :key="item.data" @click="detailsPage(item)">
                        <td class="w-1">{{item.id}}</td>  
                        <td class="w-4">{{item.first_name}}</td>
                        <td class="w-5">{{item.last_name}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="panel-footer flex-between">
            <div>
                <small>Showing {{model.from}} - {{model.to}} of {{model.total}}</small>
            </div>
            <div>
                <button class="btn btn-sm" :disabled="!model.prev_page_url" @click="prevPage">
                    Prev
                </button>
                <button class="btn btn-sm" :disabled="!model.next_page_url" @click="nextPage">
                    Next
                </button>
            </div>
        </div> -->
    </div>
</template>

<script type="text/javascript">
    import Vue from 'vue'
    import { get } from '../../lib/api'

    export default {
        
        data () {   
            return {                
                model: {
                    data: []
                },
                photos_first: [],  
                apiList:'/v1/api/customers',
                apiEdit:'/v1/api/customers/edit/',
                //
                urlList:'/customers',
                urlCreate:'/customers/create', 
                urlEdit:'/customers/edit/',               

            }
        },
        mounted() {
            get(this.apiList)
                .then((res) => {
                    this.setData(res)                   
                })
        },       
        methods: {
            detailsPage(item) {
                this.$router.push(this.urlEdit+item.id)
            },
            setData(res) {
                Vue.set(this.$data, 'model', res.data.results)
                this.page = this.model.current_page
                //this.$bar.finish()
            },
            // nextPage() {
            //     if(this.model.next_page_url) {
            //         console.log(this.$route.query)
            //         const query = Object.assign({}, this.$route.query)
            //         query.page = query.page ? (Number(query.page) + 1) : 2

            //         this.$router.push({
            //             path: this.urlList,
            //             query: query
            //         })
            //     }
            // },
            // prevPage () {
            //     if(this.model.prev_page_url) {
            //         const query = Object.assign({}, this.$route.query)
            //         query.page = query.page ? (Number(query.page) - 1) : 1
            //         this.$router.push({
            //             path: this.urlList,
            //             query: query
            //         })
            //     }
            // }
        }
    }
</script>

