
<template>
<div>
  <div class="panel-heading">
           
            <div>
                <router-link :to="{path: this.urlList}" class="btn btn-primary">Back to list</router-link>
                <router-link  v-if="this.$route.meta.mode" :to="{path: this.urlList +'/'+ this.$route.params.id}" class="btn btn-primary">Back to view</router-link>
            </div>
        </div>

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>General Form</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    

<div class="row">  
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form @submit.prevent="editmode ? updateModel() : createModel()">
                <div class="card-body">

               

                <div class="row">

                  <div class="col-md-4">
                      <div class="form-group">
                        <label>First Name</label>
                         <input v-model="form.first_name" type="text" name="first_name" class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                         <has-error :form="form" field="first_name"></has-error>
                      </div> 
                      <div class="form-group">
                        <label>Last Name</label>
                         <input v-model="form.last_name" type="text" name="last_name" class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                         <has-error :form="form" field="last_name"></has-error>
                      </div> 
                       <div class="form-group">
                        <label>Last Name</label>
                         <input v-model="form.phone" type="text" name="phone" class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                         <has-error :form="form" field="phone"></has-error>
                      </div> 
                      <div class="form-group">
                        <label>City</label>
                         <input v-model="form.city" type="text" name="city" class="form-control" :class="{ 'is-invalid': form.errors.has('city') }">
                         <has-error :form="form" field="phone"></has-error>
                      </div> 
                      
                      
                  </div><!----md-4---->
         
                  </div><!----1st row---->
                         

                </div>
               
               

                <div class="card-footer">
                  <input class="button is-primary margin-bottom" type="submit" @click.prevent="fakeSubmit">
                  <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                  <button v-show="editmode" type="submit" class="btn btn-primary">Update</button>
                </div>
                
              </form>
                <!-- <pre><code>{{form}}</code></pre>  -->

            </div>                
          </div>
          
        </div>
 </div>       
</template>


<script>
import { get, byMethod } from "../../lib/api";
import { Form, HasError, AlertError } from 'vform'


export default {
    
    data() {
    return {
     apiList:'/v1/api/customers',
     apiEdit:'/v1/api/customers/edit/',
     apiCreate:'/v1/api/customers/create',
     apiUpdate:'/v1/api/customers/update/',
     
     //
     urlList:'/customers',
     urlCreate:'/customers/create', 
     urlEdit:'/customers/edit/',  
     

     modelList: '/customers', 
     editmode: this.$route.meta.mode === 'edit' ? true : false,
     form: new Form({
             first_name:  '',
             last_name:  '',
             phone:'',
             city:'',
         
             /*group_id: '',
             seasongroup_id: '',
             area: '',
             price: '',
             area: '',
             room_nubr: '',
             max_pers: '',
             selectedInventories: [],
             selectedAdvantages: [],*/
             //errors:{}, 
      }), 
      groups:[],
      seasonGroups:[],
      grantedInventories:[], //dont need allPermissions in form only selected 
      allInventories:[], //dont need allPermissions in form only selected 
      grantedAdvantages:[], //dont need allPermissions in form only selected 
      allAdvantages:[], //dont need allPermissions in form only selected 
      showSubmitFeedback: false,
      //
      photable_Type: "App\\Property",
      photable_Id: this.$route.params.id,
      photos_List: [],
      
    };
  },    
  
  ///////////////////
  mounted() {
    //this.editmode === 'edit' ? this.getEdit() :this.getEdit();
      this.getEdit()
  },
  ////////////////////////////////////////////////


  methods: {
    fakeSubmit() {
      this.showSubmitFeedback = true;
    },
    createModel(){  
      this.form.post(this.apiCreate, this.form)       
      .then((res)=>{  
          if(res.data && res.data.created) {
               this.loadToast('success','Created successfully');
               this.redirect(res)
             }                 
          })
      .catch(()=>{
            this.loadToast('warning','Some errors');
          })   
    },
    updateModel(){              
      this.form.post(this.apiUpdate + this.$route.params.id, this.form)       
      .then((res)=>{  
          if(res.data && res.data.saved) {
               this.loadToast('success','Updated successfully');
               this.redirect(res)
             }                 
          })
      .catch(()=>{
            this.loadToast('warning','Some errors');
          })                    
    }, 
    getEdit() {   
    byMethod('GET',this.apiEdit + this.$route.params.id)        
        .then(res => {          
            //  this.allInventories = res.data.allinventories  
            //  this.allAdvantages = res.data.alladvantages           
            //  this.groups = res.data.allgroups
            //  this.seasonGroups = res.data.seasonGroups
            //  ////
            //  this.grantedInventories = res.data.form.inventories
            //  this.grantedAdvantages = res.data.form.advantages

            //  this.photos_List = res.data.form.photos;

             this.form.first_name = res.data.form.first_name
        this.form.last_name = res.data.form.last_name
        this.form.phone = res.data.form.phone
        this.form.city = res.data.form.address.city
        //this.form.first_name = res.data.form.first_name
            //  this.form.title = res.data.form.title
            //  this.form.seasongroup_id = res.data.form.seasongroup_id
            //  this.form.area = res.data.form.area
            //  this.form.price = res.data.form.price
            //  this.form.max_pers = res.data.form.max_pers
            //  this.form.room_nubr = res.data.form.room_nubr
            //  this.form.description = res.data.form.description
             //
             //this.objectToArray(); 
        })
        .catch(error => {         
           // this.errors = error.response.data.errors;  
        });

       
        
    },

    // objectToArray() {
    //   var invent_array = [];
    //   var advant_array = [];
    //   this.grantedInventories.forEach(element => {
    //     invent_array.push(element.id);
    //   });
    //   this.grantedAdvantages.forEach(element => {
    //     advant_array.push(element.id);
    //   });

    //   this.form.selectedInventories = invent_array;
    //   this.form.selectedAdvantages = advant_array;
    // },
     loadToast(icon,text){
                toast.fire({
                  icon: icon,
                  title: text
                })
    },  
    redirect(res) {      
      this.$router.push(`${this.modelList}/${res.data.id}`)
    }
  }
};
</script>

