<template>
    <div class="panel">

        <div class="panel-heading">
            
            <div>
                <router-link :to="{path: this.urlCreate}" class="btn btn-primary">New Property</router-link>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-link">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Action</th>                       
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="item in model.data" :key="item.data">
                        <td class="w-1">{{item.id}}</td>                       
                        <td class="w-3">

                            <span v-for="(photo,index) in item.photos_first" v-if="index <= 0">
                            <img v-if="index <= 0" :src="'images/tobin/' + photo.path" width=100>
                            <img v-else :src="'https://dummyimage.com/100/09f/fff.png'"/> 
                            <!-- <img v-if="index === [] " :src="'https://dummyimage.com/100/09f/fff.png'" width=100> -->
                            <span v-if="typeof item.photos_first == 'undefined'">cccc</span>
                            
                            </span>

                           

                            </td>

                           
                        <td class="w-4">{{item.title}}</td>
                        <td class="w-5">{{item.groups.title}}</td>
                        <td class="w-6"> <span class="badge bg-primary" v-for="role in item.roles">{{role.name}} </span>  </td>
                        <td class="w-7">
                            <button class="btn btn-sm"  @click="detailsPage(item)">Edit
                            </button>
                            <button class="btn btn-sm"  @click="deleteItem(item)">Delete
                            </button>
                            
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer flex-between">
            <div>
                <small>Showing {{model.from}} - {{model.to}} of {{model.total}}</small>
            </div>
            <div>
                <button class="btn btn-sm" :disabled="!model.prev_page_url" @click="prevPage">
                    Prev
                </button>
                <button class="btn btn-sm" :disabled="!model.next_page_url" @click="nextPage">
                    Next
                </button>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import {get, byMethod } from '../../lib/api'
    import Vue from 'vue'
    

    export default {
        
        data () {   
            return {                
                model: {
                    data: []
                },
                photos_first: [],  
                apiList:'/v1/api/properties/index',
                apiEdit:'/v1/api/properties/edit/',
                //
                urlList:'/properties',
                urlCreate:'/properties/create', 
                urlEdit:'/properties/edit/',               

            }
        },
        mounted() {
            this.getApi(this.apiList)
        },       
        methods: {
            getApi(url){
                get(url)
                .then((res) => {
                    this.setData(res)                   
                })
            },
            detailsPage(item) {
                this.$router.push(`/properties/edit/${item.id}`)
            },
            setData(res) {
                Vue.set(this.$data, 'model', res.data.results)
                this.page = this.model.current_page
                //this.$bar.finish()
            },
            nextPage() {
                if(this.model.next_page_url) {
                   /* const query = Object.assign({}, this.$route.query)
                    query.page = query.page ? (Number(query.page) + 1) : 2*/
                    this.getApi(this.model.next_page_url)
                    
                    /*this.$router.push({
                        path: '/usersindex',
                        query: query
                    })*/
                }
            },
            prevPage () {
                if(this.model.prev_page_url) {
                    this.getApi(this.model.prev_page_url)
                   /* const query = Object.assign({}, this.$route.query)
                    query.page = query.page ? (Number(query.page) - 1) : 1
                    this.$router.push({
                        path: '/usersindex',
                        query: query
                    })*/
                }
            },
            deleteItem(item){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                byMethod('delete', `/v1/api/properties/delete/${item.id}`).then(()=>{
                                    swal.fire('Deleted!','Your file has been deleted.','success')
                                    this.getApi(this.apiList)
                                    //Fire.$emit('AfterCreate');
                                    //this.$router.push('/properties2')
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
        }
    }
</script>

