
    <template>
    <div>
            
           <div class="panel-heading">
                <div>
                    <router-link :to="{path: this.urlList}" class="btn btn-primary">
                        <i aria-hidden="true" class="fa fa-list"></i> Back to list
                    </router-link>                   
                </div>
            </div>

            

            <div class="row"> 
              <div class="col-md-12">
                <div class="card">
                  
                  <div class="card-header">
                    <h3 class="card-title">Quick Example {{ editmode }} </h3>
                  </div>
                 
                  <form @submit.prevent="editmode ? updateModel() : createModel()">
                 
                  <div class="card-body">
                   <div class="row"> <!--show only to edit--->
                      <div class="col-md-12">
                      <div class="form-group ">
                              <label for="inputSkills" class="col-sm-2 col-form-label">Photos</label>
                              <DzoneComponent :photableType="photable_Type" :photosList="photos_List" :photableId="photable_Id"></DzoneComponent>
                      </div>
                    </div>
                    </div>  

                    <div class="row">

                      <div class="col-md-4"> 
                          
                          <div class="form-group">
                            <label>Title</label>
                             <input v-model="form.title" type="text" name="title" class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                             <has-error :form="form" field="title"></has-error>
                          </div>

                           <div class="form-group">
                            <label>Max Persons</label>
                             <input v-model="form.max_pers" type="text" name="max_pers" class="form-control" :class="{ 'is-invalid': form.errors.has('max_pers') }">
                             <has-error :form="form" field="max_pers"></has-error>
                          </div>

                          <div class="form-group">
                            <label>Price</label>
                             <input v-model="form.price" type="text" name="price" class="form-control" :class="{ 'is-invalid': form.errors.has('price') }">
                             <has-error :form="form" field="price"></has-error>
                          </div>


                        </div><!----md-4---->

                        <div class="col-md-4"> 
                          <div class="form-group">
                             <label>Groups</label>                      
                            <select v-model="form.group_id" class="form-control select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('group_id') }">
                              <option value="">Select Group</option>
                              <option v-for="group in groups" :value="group.id" >{{group.title}}</option>                         
                            </select>
                             <has-error :form="form" field="group_id"></has-error>
                          </div>     

                          <div class="form-group">
                            <label>Area</label>
                             <input v-model="form.area" type="text" name="area" class="form-control" :class="{ 'is-invalid': form.errors.has('area') }">
                             <has-error :form="form" field="area"></has-error>
                          </div>

                        </div><!----md-4---->

                         <div class="col-md-4">
                            <div class="form-group">
                              <label>Seasons</label>                      
                              <select v-model="form.seasongroup_id" class="form-control select2" style="width: 100%;" :class="{ 'is-invalid': form.errors.has('seasongroup_id') }">
                                <option value="">Select Group</option>
                                <option v-for="season in seasonGroups" :value="season.id" >{{season.title}}</option>                         
                              </select>
                              <has-error :form="form" field="seasongroup_id"></has-error>
                            </div> 
                            <div class="form-group">
                            <label>Room Number</label>
                             <input v-model="form.room_nubr" type="text" name="room_nubr" class="form-control" :class="{ 'is-invalid': form.errors.has('room_nubr') }">
                             <has-error :form="form" field="room_nubr"></has-error>
                          </div>     
                        </div><!----md-4---->


                       </div><!----1st row---->

                       <div class="row">
                          <div class="col-md-12">                        
                             <div class="form-group">
                             <label>Description</label>
                             <textarea v-model="form.description" type="text" name="description" class="form-control" :class="{ 'is-invalid': form.errors.has('description') }" ></textarea>
                             <has-error :form="form" field="description"></has-error>
                            </div>                    
                          </div><!----md-4---->
                       </div><!----2st row---->  


                        <div class="row" >
                            <div class="col-md-12">
                              <div class="form-group">                        
                              <label class="label">Inventories List</label><br>
                              <div class="icheck-danger d-inline">
                                <div v-for="item in allInventories" style="border:solid 0px red;width:300px;float:left">
                                  <input :value="item.id"  v-model="form.selectedInventories" type="checkbox"  />
                                  {{item.title}}
                                </div>
                                <br>                      
                              </div>
                            </div>
                             </div> <!---col-md-12---->                       
                          </div><!----3st row----> 

                          <div class="row" >
                            <div class="col-md-12">
                              <div class="form-group">                        
                              <label class="label">Advantages List</label><br>
                              <div class="icheck-danger d-inline">
                                <div v-for="adv in allAdvantages" style="border:solid 0px red;width:300px;float:left">
                                  <input :value="adv.id"  v-model="form.selectedAdvantages" type="checkbox"  />
                                  {{adv.title}}
                                </div>
                                <br>                      
                              </div>
                            </div>
                             </div> <!---col-md-12---->                       
                          </div><!----3st row---->    
                    </div>



                    <div class="card-footer">
                      <!--<input class="button is-primary margin-bottom" type="submit" @click.prevent="fakeSubmit">-->
                      <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                      <button v-show="editmode" type="submit" class="btn btn-primary">Update</button>
                    </div>

                  </form>
                    <!-- <pre><code>{{form}}</code></pre>  -->

                </div>                
              </div>

            </div>
     </div>       
    </template>


    <script>
    import { get, byMethod } from "../../lib/api";
    import { Form, HasError, AlertError } from 'vform'
    import DzoneComponent from "../DzoneComponent";

    export default {
        components: { DzoneComponent },
        data() {
        return {
         apiList:'/v1/api/properties/index',
         apiCreate:'/v1/api/properties/create',
         apiEdit:'/v1/api/properties/edit/',
         apiCreate:'/v1/api/properties/create',
         apiUpdate:'/v1/api/properties/update/',     
         //
         urlList:'/properties',
         urlCreate:'/properties/create', 
         urlEdit:'/properties/edit/',
         //modelList: '/properties', 
         editmode: this.$route.meta.mode === 'edit' ? true : false,
         form: new Form({
                 title:  '',                            
                 group_id: '',
                 seasongroup_id: '',
                 area: '',
                 price: '',
                 area: '',
                 room_nubr: '',
                 max_pers: '',
                 selectedInventories: [],
                 selectedAdvantages: [],
                 //errors:{}, 
          }), 
          groups:[],
          seasonGroups:[],
          grantedInventories:[], //dont need allPermissions in form only selected 
          allInventories:[], //dont need allPermissions in form only selected 
          grantedAdvantages:[], //dont need allPermissions in form only selected 
          allAdvantages:[], //dont need allPermissions in form only selected 
          showSubmitFeedback: false,
          //
          photable_Type: "App\\Property",
          photable_Id: this.$route.params.id,
          photos_List: [],

        };
      },    

      ///////////////////
      mounted() {
        this.editmode ? this.getEdit() : this.getCreate();
      },
      ////////////////////////////////////////////////


      methods: {
        fakeSubmit() {
          this.showSubmitFeedback = true;
        },
        createModel(){  
          this.form.post(this.apiCreate, this.form)       
          .then((res)=>{  
              if(res.data && res.data.created) {
                   this.$router.push({ path: '/properties/edit/125', meta: {mode: 'edit'}})
                   //this.$router.push(`${this.urlEdit+res.data.id}`)
                   //window.location.href('/properties/edit/128')
                   //this.router.push({ path: '/properties/edit/125', meta: {mode: 'edit'}})
                   //this.loadToast('success','Created successfully');
                   //this.redirect(res)
              }else{
                   this.loadToast('warning','Some errors'); 
              }                 
              })
          
        },
        updateModel(){              
          this.form.post(this.apiUpdate + this.$route.params.id, this.form)       
          .then((res)=>{  
              if(res.data && res.data.saved) {
                   this.loadToast('success','Updated successfully');
                   this.redirect(res)
                 }                 
              })
          .catch(()=>{
                this.loadToast('warning','Some errors');
              })                    
        }, 
        getCreate() {
            byMethod('GET',this.apiCreate)
            .then(res => {
                 this.groups = res.data.allgroups
                 this.seasonGroups = res.data.seasonGroups
            })    
                 /*this.allInventories = res.data.allinventories  
                 this.allAdvantages = res.data.alladvantages */          
                
           
        },            
        getEdit() {   
             byMethod('GET',this.apiEdit + this.$route.params.id)
            .then(res => {          
                 this.allInventories = res.data.allinventories  
                 this.allAdvantages = res.data.alladvantages           
                 this.groups = res.data.allgroups
                 this.seasonGroups = res.data.seasonGroups
                 ////
                 this.grantedInventories = res.data.form.inventories
                 this.grantedAdvantages = res.data.form.advantages
                 this.photos_List = res.data.form.photos;
                 ////
                 this.form.group_id = res.data.form.group_id
                 this.form.title = res.data.form.title
                 this.form.seasongroup_id = res.data.form.seasongroup_id
                 this.form.area = res.data.form.area
                 this.form.price = res.data.form.price
                 this.form.max_pers = res.data.form.max_pers
                 this.form.room_nubr = res.data.form.room_nubr
                 this.form.description = res.data.form.description
                 //
                 this.objectToArray(); 
            })
            .catch(error => {         
               // this.errors = error.response.data.errors;  
            });



        },

        objectToArray() {
          var invent_array = [];
          var advant_array = [];
          this.grantedInventories.forEach(element => {
            invent_array.push(element.id);
          });
          this.grantedAdvantages.forEach(element => {
            advant_array.push(element.id);
          });

          this.form.selectedInventories = invent_array;
          this.form.selectedAdvantages = advant_array;
        },
         loadToast(icon,text){
                    toast.fire({
                      icon: icon,
                      title: text
                    })
        },  
        redirect(res) {      
            this.$router.push(`${this.urlList}`)
            //this.$router.push(`${this.urlEdit+res.data.id}`)
            //this.$router.push({ path: '/properties/edit/125', meta: {mode: 'edit'}})
            //window.location.href('/properties/edit/128')
            //this.$router.push('/properties/edit/128')
            //this.$route.router.go('/properties/edit/128');
            /*router.beforeEach((to, from, next) => {
                to.path'/properties/edit/128'
            }*/
        }
      }
    };
    </script>

