<template>
    <div>      
              <div class="row">
                  <div class="col-md-1">
                      <div class="form-group">
                      <label>Select Cell Width</label>
                      <select v-model="cellWidth" class="form-control" @change="doCell()">
                                <option value="">Select Cell Width</option>
                                <option v-for="cell in cellSizes" :value="cell.width"> {{cell.width}}</option>
                      </select>
                      </div>
                  </div>
                  <div class="col-md-1">
                      <div class="form-group">
                      <label>Select Time Line</label>
                        <select v-model="scale" class="form-control" @change="doCell()">
                              <option value="">Select Time Line</option>
                              <option v-for="cell in dpScales" :value="cell.width"> {{cell.width}}</option>
                        </select>
                      </div>
                  </div>
              </div>
                <button @click="scrollBackward()"><< scroll Backward </button>
                <button @click="scrollForward()"> scroll Forward >> </button>                
                <br>
                <div id="dp"></div>
                <my-modal1 :form="form" :errors="errors" :editmode="editmode" :payments="payments" :statuses="statuses" :seasonprices="seasonprices"> </my-modal1> 
    </div>
</template>

<script>
  //import { DayPilot } from "daypilot-pro-vue";
  import { DayPilot } from '../../components/daypilot/daypilot-vue.min.js'  
  import Vue from "vue";
  import axios from "axios";
  import { get } from "../../lib/api";
  import { Form, HasError, AlertError } from 'vform'  
  import MyModal1 from "./MyModal1";

export default {
  components: { MyModal1 },
  name:'dashboard4',
  data() {
    return {
      dp: "",scale:"Day", cellWidth: 30, cellSizes:{}, dpScales:{},
      model: {
        data: []
      },
      editmode: false,
      //
      form: new Form({                    
          time_from: "", time_to: "", resource_id: "", group_id: "",
          seasongroup_id: "", customer_id: "", payment_id: "", status_id: "",                   
      }), 
      payments:[],
      statuses:[],    
      errors:{},      
      customerURL: '/api/customers',
      ////
      seasonprices: {},   
      
      //
      resources:[]
    };
  },

  methods: {
    ////////////////////////////////////////////////////////////////////////////////////////////////DP Look & properties
    doCell(){        
      this.dp.cellWidth = this.cellWidth
      this.dp.scale = this.scale;
      this.dp.update()
      console.log(this.cellWidth)
    },
    /////////////////////////////////////////////////////////////////////////////////////////////////Modals
    loadToast(icon,text){
      toast.fire({icon: icon,title: text })
    },      
    hideModal() {
      $("#addNew").modal("hide");
      this.dp.clearSelection();
      this.form.reset();
      this.form.clear();
      this.seasonprices = {};      
    },   
    createModal2() {        
      $("#modal2").modal("show")
    }, 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Move or Rsize
    
    createModal(args,property) {        
      $("#addNew").modal("show")
      //$("#modal2").modal("show")          
      this.form.time_from = args.start.toString("yyyy-MM-dd")
      this.form.time_to =  args.end.toString("yyyy-MM-dd")
      this.form.resource_id =  args.resource
      this.form.group_id = property[0].uuid
      this.form.seasongroup_id = property[0].seasongroup_id      
      this.args = args  
      this.getSeasonPrices()
      this.getBookingStatuses()
      this.getBookingPayments()
    },  
    /////////////////////////////////////////////////////////////////////////////Actions
    detailsPage(item) {
      this.$router.push(this.resourceUrl + "/" + item.id);
    },
    editModal(id) {        
     $("#addNew").modal("show")   
     this.getEditBooking(id)
    },   
    addEvent(){               
    this.form.post('/v1/api/bookings/store').then(res => {
            if (res.data.errors) {
               alert('error')
            } else if (res.data.success) {
              var e = new DayPilot.Event({
                        start: this.args.start,
                        end: this.args.end,
                        id: this.args.resource,
                        resource: this.args.resource,
                        text: this.form.first_name_t
            });
            this.hideModal()
            this.loadToast('success','Created successfully');  
            this.dp.events.add(e)  
            this.getEventsResources()                   
           }    
      })
   }, 
  
    getEditBooking(id) {       
      axios.get('/v1/api/bookings/edit/'+id).then(res => {       
      })
    },  
    
   getEventsResources() {       
      axios.get('/v1/api/bookings/getEventsResources').then(res => {
        this.dp.events.list = res.data.events
        this.dp.resources = res.data.resources 
        this.resources = res.data.resources 
        this.dp.update() 
      })
    },
    onEventResized(formData){      
      var dates = {newStart: formData.newStart.toString("yyyy-MM-dd"), newEnd: formData.newEnd.toString("yyyy-MM-dd"), resource: formData.e.cache.resource};             
        axios.post('/v1/api/bookings/domoveorresize',dates).then(res => {
         if (res.data.errors) {
              this.loadToast('error','Some errors'); 
            } else if (res.data.success) {
              this.loadToast('success','Changed successfully');                                
           }    
      })
    },
     getSeasonPrices() { 
      var params = {start: this.form.time_from, end: this.form.time_to, resource: this.form.resource_id};      
      axios.post('/v1/api/bookings/getSeasonPrices',params).then(res => {
      this.seasonprices = res.data;
      })
    },
     getBookingStatuses() {       
      axios.get('v1/api/bookingstatuses/index').then(res => {  
      this.statuses = res.data.results.data  
      })
    },
     getBookingPayments() {       
      axios.get('v1/api/bookingpayments/index').then(res => {  
      this.payments = res.data.results.data  
      })
    }, 
       
    
     ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Delete
    deleteModal(args) {       
      //var data = {booking_id: args.e.data.id};       
      //axios.post('/v1/api/booking/doDeleteBooking',data).then(res => {
      axios.delete('/v1/api/bookings/delete/'+args.e.data.id).then(res => {  
            if (res.data.errors) {
              alert('error')
            } else if (res.data.success) {
              this.loadToast('success','Deleted successfully');                                
           }    
      })
    },     




/////////////////////////////////////////////////////////////////////////////////
    initScheduler() {
      var cp = new DayPilot.Scheduler("dp");
      return cp;
    },   

    settingsDaypilot() {
      let _this = this
      this.dp = this.initScheduler(); 
	  
	  
      this.dp.timeHeaders = [
        {groupBy: "Month", format: "MMM yyyy"},
        {groupBy: "Cell", format: "ddd d"}
      ];
	  
	  
	  /*
	  this.dp.timeHeaders = [
        { groupBy: "Day" },
        { groupBy: "Cell" }
      ];
	  */
	
	
      this.dp.rowHeaderColumnsMode = "Legacy";
    // define columns
      this.dp.rowHeaderColumns = [
          {title: 'Name', width: 100},
          //{title: 'Max Pers', width: 70},
                  /*{ title: 'Area', width: 40 },*/
          {title: 'Link', width: 40}
      ];
      this.dp.height = 600;
      this.dp.scale = "Day";
      this.dp.locale = "pl-pl";
      this.dp.cellWidth = this.cellWidth;
      this.dp.eventHeight = 35;
      this.dp.days = 700 //DayPilot.Date.today().daysInYear();
      this.dp.startDate = "2019-01-01" //DayPilot.Date.today().firstDayOfMonth();
      this.dp.separators = [{ location: new DayPilot.Date(), color: "blue" }];
      this.dp.timeRangeSelectedHandling = "Enabled";
      this.dp.treeEnabled = true;
      this.dp.eventDeleteHandling = "Update";      
      this.dp.treePreventParentUsage = true;
      this.dp.allowEventOverlap = false;
      /// select label
      this.dp.eventMovingStartEndEnabled = true;
      this.dp.eventResizingStartEndEnabled = true;
      this.dp.timeRangeSelectingStartEndEnabled = true;
        //     
      this.dp.temp.infiniteScrolling = true;
      this.dp.infiniteScrollingStepDays = 200;
      //////////////////////////////////////////////////////////load stuff
      this.getEventsResources()
      //////////////////////////////////////////////////////////////////////////Higlite weekends
      this.dp.onBeforeCellRender = function (args) {
          if (args.cell.start.getDayOfWeek() === 0 || args.cell.start.getDayOfWeek() === 6) {
              //args.cell.backColor = "#c9f5d4";
              args.cell.cssClass = "weekend";
          }
      };
      ///////////////////////////////////////////////////////////////////////////Event Area
      this.dp.onBeforeEventRender = function (args) {
            // var start = new DayPilot.Date(args.e.start);
            // var end = new DayPilot.Date(args.e.end);
            // var today = DayPilot.Date.today();
            // var now = new DayPilot.Date();
            ///////////////////////////////////////////////////////////////////////////Columns   
            //args.e.html = args.e.text + " (" + start.toString("M/d/yyyy") + " - " + end.toString("M/d/yyyy") + ")";
            args.e.html = args.e.text;
            args.e.barColor = args.e.colour;
            args.e.backColor = args.e.colour;
            args.e.toolTip = args.e.status;
            args.e.html = "<div>" + args.e.html + "<br /> <span style='color:gray'>" + args.e.toolTip + "</span></div>";
            var paid = args.e.paid;
            var paidColor = "#000";
            args.e.areas = [
                {bottom: 10, right: 4, html: "ppp<div style='color:" + paidColor + "; font-size: 8pt;'>Paid: " + paid + "%</div>", v: "Visible"},
                {left: 4, bottom: 8, right: 4, height: 2, html: "<div style='background-color:" + paidColor + "; height: 100%; width:" + paid + "%'></div>", v: "Visible"}
            ];

        };
      ///////////////////////////////////////////////////////////////////////////ON SELECT
      this.dp.onTimeRangeSelected = function (args) {        
        var property = [];        
        this.resources.forEach(function (element) {                    
          element.children.forEach(function (item) {                             
            if (args.resource == item.id) {
              property = [item];
            }
          });
        });
        _this.createModal(args,property) 
      };
      ///////////////////////////////////////////////////////////////////////////////CLICK
      this.dp.onEventClicked = function(args) {       
         _this.editModal(args.e.id())
      }; 
      ///////////////////////////////////////////////////////////////////////////DELETE
      this.dp.onEventDelete = function(args) {
        _this.deleteModal(args) 
      }; 
      ////////////////////////////////////////////////////////////////////////////Resize  
      this.dp.onEventResized = function (args) {         
         _this.onEventResized(args)           
      }; 
      /////////////////////////////////////////////////////////////////////////////Move 
      this.dp.onEventMoved = function (args) {
           _this.onEventResized(args)          
        };




      this.dp.init();
      //dp.scrollTo(new DayPilot.Date.today().addDays(55));
      this.dp.scrollTo(new DayPilot.Date().addDays(-20));
   
    },
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



    scrollForward() {
      this.dp.scrollTo(this.dp.getViewPort().start.addMonths(1), "fast");
    },  
    scrollBackward() {
      this.dp.scrollTo(this.dp.getViewPort().start.addMonths(-1), "fast");
    }    

   

  },
  ///////////////////////////////////////////////////////

  mounted() {
    //console.log("mounted");
    this.settingsDaypilot();
     
    /*this.payments = [
        {id: 1,name: 'Red' },
        {id: 2,name: 'Blue' },
        {id: 3,name: 'Green' },
        ];  
   
    this.statuses = [
        {id: 1,name: 'Audi' },
        {id: 2,name: 'BMW' },
        {id: 3,name: 'Citroen' },
        {id: 4,name: 'Ford' },
    ];*/
    this.cellSizes = [
        {id: 1,width: 25 },
        {id: 2,width: 30 },
        {id: 3,width: 35 },
        {id: 4,width: 40 },
        {id: 4,width: 45 },
        {id: 4,width: 50 },
    ];
    this.dpScales = [
            {id: 1,width: 'Day' },
            {id: 2,width: 'Week' },
            {id: 3,width: 'Month' },
            {id: 4,width: 'Hour' },
    ]; 

  }
};
</script>
<style>
    /* .scheduler_default_cellparent, 
    .scheduler_default_cell.scheduler_default_cell_business.scheduler_default_cellparent  {
        background: rgb(182, 7, 7);
    } */
    .scheduler_default_cellparent, 
    .scheduler_default_cell.scheduler_default_cell_business.scheduler_default_cellparent  {
        background: #00008c;
        //z-index: 10000;
    }
    .weekend,
    .scheduler_default_cell weekend,
    .scheduler_default_cell scheduler_default_cellparent weekend{
      background: #b2eccf;
      //z-index: 1;
    }

    .scheduler_default_corner div {
    display: none !important;
    }
    .scheduler_default_event_inner{
        position:absolute;
        top:0px;left:0px;right:0px;bottom:0px;padding:5px 2px 2px 2px;overflow:hidden;border:1px solid #ccc;
        /* background: pink; */
        /* background:#fff;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
        background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
        background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
        background: linear-gradient(top, #ffffff 0%, #eeeeee);filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee"); */
    }
</style>