<template>
       <div class="modal fade" id="addNew">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="addNewLabel">{{ editmode ? 'Edit Record' : 'New Record' }}</h5>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input v-model="form.time_from" type="text" name="time_from" placeholder="Time to" class="form-control" :class="{ 'is-invalid': form.errors.has('time_from') }" disabled>
                                        <has-error :form="form" field="time_from"></has-error>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input v-model="form.time_to" type="text" name="time_from" placeholder="Time to" class="form-control" :class="{ 'is-invalid': form.errors.has('time_to') }" disabled>
                                        <has-error :form="form" field="time_to"></has-error>
                                    </div>
                                </div>

                                <button type="button" class="close" @click="hideModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form @submit.prevent="editmode ? updateUser() : addEvent()">
                                <div class="modal-body">
                                    <div class="col-12 col-sm-12 col-lg-12">

                                        <div class="card card-primary card-tabs">
                                            <div class="card-header p-0 pt-1">
                                                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">Home</a>
                                                    </li>

                                                    <li class="nav-item">
                                                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Profile</a>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="card-body">

                                                <input v-model="form.resource_id" type="hidden" name="resource_id" id="resource_id" class="form-control">
                                                <input v-model="form.group_id" type="hidden" name="group_id" id="group_id" class="form-control">
                                                <input v-model="form.seasongroup_id" type="hidden" name="seasongroup_id" id="seasongroup_id" class="form-control">
                                                <input v-model="form.customer_id" type="hidden" name="customer_id" id="customer_id" class="form-control">

                                                <div class="tab-content" id="custom-tabs-one-tabContent">
                                                    <div class="tab-pane fade  active show" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                                        <div class="row">
                                                            <div class="col-md-3">

                                                                <div class="form-group">
                                                                    <label>Find Existing Customer</label>
                                                                    <typeahead :url="customerURL" :initialize="form.customer" @input="onCustomer" />
                                                                    <small class="error-control" v-if="errors.customer_id">
                                      {{errors.customer_id[0]}}
                                  </small>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-3">

                                                                <div class="form-group">
                                                                    <label>.. Or Create New Customer</label>
                                                                    <input v-model="form.first_name_t" type="text" name="first_name_t" placeholder="First Name" class="form-control" :class="{ 'is-invalid': form.errors.has('first_name_t') }">
                                                                    <has-error :form="form" field="first_name_t"></has-error>
                                                                </div>

                                                                <div class="form-group">
                                                                    <!-- <label>Last Name</label> -->
                                                                    <input v-model="form.last_name_t" type="text" name="last_name_t" placeholder="Last Name" class="form-control" :class="{ 'is-invalid': form.errors.has('last_name_t') }">
                                                                    <has-error :form="form" field="last_name_t"></has-error>
                                                                </div>

                                                                <div class="form-group">
                                                                    <!-- <label>Phone</label> -->

                                                                    <input v-model="form.phone_t" type="text" name="phone_t" placeholder="Phone" class="form-control" :class="{ 'is-invalid': form.errors.has('phone_t') }">
                                                                    <has-error :form="form" field="phone_t"></has-error>
                                                                </div>

                                                                <div class="form-group">
                                                                    <!-- <label>Email</label> -->
                                                                    <input v-model="form.email_t" type="text" name="email_t" placeholder="Email" class="form-control" :class="{ 'is-invalid': form.errors.has('email_t') }">
                                                                    <has-error :form="form" field="email_t"></has-error>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label></label>

                                                                    <input v-model="form.address_line1" type="text" name="address_line1" placeholder="Address Line 1" class="form-control" :class="{ 'is-invalid': form.errors.has('address_line1') }">
                                                                    <has-error :form="form" field="address_line1"></has-error>

                                                                </div>

                                                                <div class="form-group">

                                                                    <input v-model="form.address_line2" type="text" name="address_line2" placeholder="Address Line 2" class="form-control" :class="{ 'is-invalid': form.errors.has('address_line2') }">
                                                                    <has-error :form="form" field="address_line2"></has-error>

                                                                </div>

                                                                <div class="form-group">

                                                                    <input v-model="form.city" type="text" name="city" placeholder="Enter City" class="form-control" :class="{ 'is-invalid': form.errors.has('city') }">
                                                                    <has-error :form="form" field="city"></has-error>
                                                                </div>

                                                                <div class="form-group">

                                                                    <input v-model="form.postcode" type="text" name="postcode" placeholder="Post code" class="form-control" :class="{ 'is-invalid': form.errors.has('postcode') }">
                                                                    <has-error :form="form" field="postcode"></has-error>
                                                                </div>

                                                              
                                                            </div>

                                                            <div class="col-md-3">

                                                                <div class="form-group">
                                                                    <label>Payment</label>
                                                                   
                                                                    <select v-model="form.payment_id" class="form-control" :class="{ 'is-invalid': form.errors.has('payment_id') }">
                                                                        <option value="">Select Payment</option>
                                                                        <option v-for="payment in payments" :value="payment.id">
                                                                            {{payment.title}}
                                                                        </option>
                                                                    </select>
                                                                    <has-error :form="form" field="payment_id"></has-error>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label>Payment</label>
                                                                    <select v-model="form.status_id" class="form-control" :class="{ 'is-invalid': form.errors.has('status_id') }">
                                                                        <option value="">Select Status</option>
                                                                        <option v-for="status in statuses" :value="status.id">
                                                                            {{status.title}}
                                                                        </option>
                                                                    </select>
                                                                    <has-error :form="form" field="status_id"></has-error>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                                        Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <button @click.prevent="pricedetails = !pricedetails" :aria-expanded="pricedetails ? 'true' : 'false'"> Price Details </button>

                                    <div v-if="pricedetails" class="card-body p-0">

                                        <table class="table-condensed janek_custom" style="">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Task</th>
                                                    <th>Progress</th>
                                                    <th style="width: 40px">Label</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in seasonprices.seasons_days">

                                                    <td>1.</td>
                                                    <td>{{ item.day }}</td>
                                                    <td>
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                                        </div>
                                                    </td>
                                                    <td>{{ item.price_per_day }}</td>
                                                    <td><span class="badge bg-danger">{{ item.seazon_name }}</span></td>
                                                </tr>

                                                <tr v-for="item2 in seasonprices.standard_days">
                                                    <td>2.</td>
                                                    <td>{{ item2.day }}</td>
                                                    <td>
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar bg-warning" style="width: 70%"></div>
                                                        </div>
                                                    </td>
                                                    <td>{{ item2.price_per_day }}</td>
                                                    <td><span class="badge bg-warning">{{ item2.seazon_name }}</span></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" @click="hideModal()">Close</button>
                                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>
</template>

<script>
import Vue from "vue";
import { Typeahead } from '../../components/typeahead'


export default{  
  components: { Typeahead },

  name:'Modal',
   props: {
    form: { type: Object, required: true  }, 
    errors: { type: Object, required: true  },
    seasonprices: { type: Object, required: true  }, 
    editmode: { type: Boolean },
    payments: { type: Array },
    statuses: { type: Array },
  },   
  data: function () {
    return {
      greeting: 'Hello',
      customerURL: '/v1/api/customers/search',
      showPriceDetail: false,
      //
      pricedetails:false,
      //
      //seasonprices: [],  
    }
  },

   methods: {
    onCustomer(e) {
      const customer = e.target.value
      //console.log(e.target.value)
      Vue.set(this.form, 'first_name_t', customer.first_name_t)      
      Vue.set(this.form, 'last_name_t', customer.last_name_t)
      Vue.set(this.form, 'customer_id', customer.id)
      Vue.set(this.form, 'phone_t', customer.phone_t)
      Vue.set(this.form, 'email_t', customer.email_t)
      Vue.set(this.form, 'address_line1', customer.address.address_line1)
      Vue.set(this.form, 'address_line2', customer.address.address_line2)
      Vue.set(this.form, 'city', customer.address.city)
      Vue.set(this.form, 'postcode', customer.address.postcode)      
    },
    addEvent(){
        this.$parent.addEvent();
    },
    hideModal(){
        this.$parent.hideModal();
    },
    

   }
}
</script>

