
  <template>
   <div v-if="show">





    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">


          <div class="col-md-12">
            <div class="card">

              <div class="card-header p-2">              
                <button class="btn btn-primary" :disabled="isProcessing" @click="onSave">Save</button>
                <button class="btn" :disabled="isProcessing" @click="onCancel">Cancel</button>
                <input class="button is-primary margin-bottom" type="submit" @click.prevent="fakeSubmit" />
              </div><!-- /.card-header -->

              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="settings">

                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Role</label>
                      <div class="col-sm-10">

                        <input type="text" class="form-control" v-model="form.name" disabled>
                        <small class="error-control" v-if="errors.name"> {{errors.name[0]}} </small>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">Guard Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="form.guard_name" disabled>
                        <small class="error-control" v-if="errors.guard_name"> {{errors.guard_name[0]}} </small>
                      </div>
                    </div>






                    <div class="form-group row">                        
                      <label class="label">Permission List</label><br>
                      <div class="icheck-danger d-inline">
                        <div v-for="item in allPermissions" style="border:solid 0px red;width:200px;float:left">
                          <input type="checkbox" :value="item.name"  v-model="form.selectedPermissions" />
                          {{item.name}}
                        </div>
                        <br>                      
                      </div>
                    </div>


                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">

                      </div>
                    </div>

                  </div>
                  <!-- /.tab-pane -->



                  <article class="message is-primary" v-show="showSubmitFeedback">
                    <div class="message-header">
                      <p>Fake Send Status:</p>
                    </div>
                    <div class="message-body">
                      Successfully Submitted!
                      {{form}}
                    </div>
                  </article>`
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->


            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
      <!--  
    <pre><code>{{form}}</code></pre>
  -->


  </div>
  </template>


  <script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod } from '../../lib/api'   
      //import Multiselect from 'vue-multiselect'    

      function initialize(to) {
        let urls = {
          'create': `/api/role/create`,
          'edit': `/roles/index/${to.params.id}/edit`
        }

        return (urls[to.meta.mode] || urls['create'])
      }
      
      export default {
        components: {

        },

        data () {
          return {
            form: {                
              selectedPermissions: [],                              
            },
            showSubmitFeedback: false,
            errors: {},
            isProcessing: false,
            show: true,
            resourceUrl: '/roles',
            resourceApi: '/roles/index',
            resourceUpdate: '/roles/update',
            method: 'PUT',
            title: 'Create',
            productURL: '/api/products',
            customerURL: '/api/customers',
                  ///                
                  allPermissions: [],
                  grantedPermissions: [],
                  
                  
                  
                }
              },

              mounted () {        
                byMethod('GET', '/roles/index/'+this.$route.params.id+'/edit' )
                .then((res) => {                                                 
                          //this.setData(res)
                          Vue.set(this.$data, 'form', res.data.form) //fill form                       
                          this.allPermissions =  res.data.form.allPermissions //all roles
                          this.grantedPermissions =  res.data.form.grantedPermissions 
                          this.objectToArray()  
                          this.setData(res)                        

                        })                
              },


              methods: {
                fakeSubmit() {
                  this.form.allPermissions =[]
                  this.form.grantedPermissions =[]
                  this.showSubmitFeedback = true;
                // setTimeout(() => {
                //   this.showSubmitFeedback = false;
                // }, 3000);
              },

              setData(res) {
                 // Vue.set(this.$data, 'form', res.data.form)
                //  this.allPermissions =  res.data.form.allPermissions //all roles 
                //  this.grantedPermissions =  res.data.form.grantedPermissions 
                //  this.objectToArray(),                  
                this.show = true

              },             
              objectToArray() {
                var janek_array = []			 
                this.grantedPermissions.forEach(element => {				
                  janek_array.push(element.name);
                });                
                this.form.selectedPermissions = janek_array		 

              },	

              onCancel() {
                if(this.$route.meta.mode === 'edit') {
                  this.$router.push(`${this.resourceUrl}/${this.$route.params.id}`)
                } else {
                  this.$router.push(`${this.resourceUrl}`)
                }
              },
              onSave() {
                if(this.$route.meta.mode === 'edit') {
                  this.store = this.resourceUpdate+'/'+this.$route.params.id
                  this.method = 'PUT'
                  this.title = 'Edit'
                }
                this.errors = {}
                this.isProcessing = true  
                this.form.allPermissions = []
                this.form.grantedPermissions = []              
                byMethod(this.method, this.store, this.form)
                .then((res) => {
                  if(res.data && res.data.saved) {
                    this.success(res)
                  }
                })
                .catch((error) => {
                  if(error.response.status === 422) {
                    this.errors = error.response.data.errors
                  }
                  this.isProcessing = false
                })
              },
              success(res) {
                this.$router.push(`${this.resourceUrl}/${res.data.id}`)
              }
            }
          }

        </script>

