    <template>
        <div class="panel" v-if="show">

         <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Profile</h1>
              </div>
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
            </section>



    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">


            <div class="col-md-12">
              <div class="card">

                <div class="card-header p-2">   
                 <router-link to="/roles" class="btn btn-primary">Back</router-link>
                 <router-link :to="`/roles/${model.id}/edit`" class="btn btn-primary">Edit</router-link>
                 <button class="btn btn-primary" @click="deleteItem">Delete</button>
             </div><!-- /.card-header -->

             <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="settings">

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Role</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" v-model="model.name" disabled>
                  </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Guard Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="model.guard_name" disabled>
              </div>
          </div>

      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    </div>
    </template>


<script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod} from '../../lib/api'

    export default {
        data () {
            return {
                show: false,
                modelNameSingular:'user',
                modelNamePlural:'uses',
                model: {
                    items: [],
                    customer: {}
                }
            }
        },
        beforeRouteEnter(to, from, next) {
            get(`/roles/index/${to.params.id}`)
            .then((res) => {
                next(vm => vm.setData(res))
            })
        },
        beforeRouteUpdate(to, from, next) {
            this.show = false
            get(`/roles/index/${to.params.id}`)
            .then((res) => {
                this.setData(res)
                next()
            })
        },


        methods: {
            setData(res) {
                Vue.set(this.$data, 'model', res.data.form)
                this.show = true
                        //this.$bar.finish()
                    },
                    deleteItem22() {
                        byMethod('delete', `/api/role/${this.model.id}`)
                        .then((res) => {
                            if(res.data.deleted) {
                                this.$router.push('/role')
                            }
                        })
                    },
                    deleteItem(){
                        swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                                // Send request to the server
                                if (result.value) {
                                    byMethod('delete', `/api/role/${this.model.id}`).then(()=>{
                                        swal.fire(
                                            'Deleted!',
                                            'Your file has been deleted.',
                                            'success'
                                            )
                                            //Fire.$emit('AfterCreate');
                                            this.$router.push('/roles')
                                        }).catch(()=> {
                                            swal.fire("Failed!", "There was something wronge.", "warning");
                                        });
                                    }
                                })
                    },
                }
            }
        </script>
