<template >
       <div class="modal fade" id="addNew">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
		  
            <div class="modal-header">
              <h4 class="modal-title">Extra Large Modal + Content</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
			
            <div class="modal-body">
              <p>One fine body&hellip;</p>
			  
			<div class="col-12 col-sm-12 col-lg-12">
			
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">Home</a>
                  </li>
				  
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Profile</a>
                  </li>
				  
                  
                </ul>
              </div>

              editmode:{{editMode}}
                
              <form @submit.prevent="editMode=='edit' ? updateRecord() : addEvent()">
                 <input v-model="form2.id" type="text" name="id" id="id" class="form-control">
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                  
                  <div class="tab-pane fade  active show" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                       <div class="row">						  
                          <div class="col-md-2">                        
                            <div class="form-group">
                                <label>Season Title</label>
                                <input v-model="form2.title" type="text" name="title" class="form-control" :class="{ 'is-invalid': errors.title }">
                                <div class="alert alert-danger" v-if="errors.title"> {{errors.title[0]}}</div>
                              </div>

                          </div>
                
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>start_date</label>
                              <input v-model="form2.start_date" type="text" name="start_date" class="form-control" :class="{ 'is-invalid': errors.start_date }">
                                <div class="alert alert-danger" v-if="errors.start_date"> {{errors.start_date[0]}}</div>
                              </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                              <label>end_day</label>
                              <input v-model="form2.end_date" type="text" name="end_date" class="form-control" :class="{ 'is-invalid': errors.end_date }">
                               <div class="alert alert-danger" v-if="errors.end_date"> {{errors.end_date[0]}}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                              <label>end_day</label>
                              <input v-model="form2.price" type="text" name="price" class="form-control" :class="{ 'is-invalid': errors.price }">
                               <div class="alert alert-danger" v-if="errors.price"> {{errors.price[0]}}</div>
                            </div>
                        </div>
							
						           </div>
                  </div>
                                    
                </div>							
              </div>

                 <div class="modal-footer">
                      <button type="button" class="btn btn-danger" @click="hideModal()">Close</button>
                      <button type="submit" class="btn btn-success">Update</button>
                       <button type="submit" class="btn btn-primary">Create</button>
                  </div>
               </form>
              <!-- /.card -->
            </div>
          </div>
		  
		
		
			
            </div>
			
            
			
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</template>

<script>

export default {
   props: {
        seasonObject: { required: true },   
        errors: { required: true },   
        form2: { required: true },      
        editMode: { required: true },
  },
  
  data () {
    return {
      greeting: 'Hello'
    }
  },

   mounted() {     
     console.log('kkk')
   },
   methods: {
    updateRecord(){
       axios.post('/v1/api/season/update/'+this.form2.id,this.form2).then(res => {  
                  if (res.data.errors) {
                    alert('error')
                  } else if (res.data.success) {
                    // var e = new DayPilot.Event({
                    //           start: this.args.start,
                    //           end: this.args.end,
                    //           id: this.args.resource,
                    //           resource: this.args.resource,
                    //           text: this.form.first_name
                    // });
                  this.$parent.hideModal()
                  this.$parent.loadToast('success','Created successfully');  
                  //this.dp.events.add(e)  
                  //this.$parent.getEventsResources()                   
                }         
        })               
    // this.form2.post('/v1/api/season/update/',).then(res => {
    //         if (res.data.errors) {
    //            alert('error')
    //         } else if (res.data.success) {
    //           var e = new DayPilot.Event({
    //                     start: this.args.start,
    //                     end: this.args.end,
    //                     id: this.args.resource,
    //                     resource: this.args.resource,
    //                     text: this.form.first_name
    //            });
    //         this.hideModal()
    //         this.loadToast('success','Created successfully');  
    //         this.dp.events.add(e)  
    //         this.getEventsResources()                   
    //        }    
    //   })
   }, 
    // hideModal(){
    //     this.$parent.hideModal();
    // },
   }
}
</script>

