<template>
    <div>        

            <div class="panel-heading">
                <div>                   
                    <Buttons :urlEdit="urlEdit" :urlList="urlList" :urlCreate="urlCreate" :editMode="editMode" ></Buttons>
                </div>
            </div>
        
   editMode:{{editMode}}

           <Modal :seasonObject="seasonObject" :form2="form2" :errors="errors" :editMode="editMode"></Modal>



           <select v-model="scale" class="form-control" @change="doCell()">
                <option value="">Select Width</option>
                <option v-for="cell in dpScales" :value="cell.width"> {{cell.width}}</option>
           </select>


           <div id="dp"></div>



            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                       

                        <div class="card-header">
                            <h3 class="card-title">Quick Example {{ editMode }} </h3>
                        </div>
                        
                        
                        <div class="card-body">                              
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input v-model="form.title" type="text" name="title" class="form-control" :class="{ 'is-invalid': errors.title }" >
                                         <div class="alert alert-danger" v-if="errors.title"> {{errors.title[0]}}</div>
                                    </div>                                    
                                </div>    
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea v-model="form.description" type="text" name="description" class="form-control" :class="{ 'is-invalid': errors.description }"></textarea>
                                        <div class="alert alert-danger" v-if="errors.description"> {{errors.description[0]}}</div>
                                    </div>
                                </div>
                            </div>                                     
                       </div> 
                        
                        <div class="card-footer">
                            <div>
                                 <Buttons :editMode="editMode" ></Buttons>
                            </div>
                        </div>
                        
                        
            </div>
         </div>
      </div>          
            

    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod } from '../../lib/api'
    import {Typeahead } from '../../components/typeahead'   
    import Buttons from './Buttons';
    import Modal from './Modal';
    //import Modal from './Modal';
    import { DayPilot } from "daypilot-pro-vue";

    function initialize(to) {
        let urls = {
            'create': `/v1/api/seasongroups/create`,
            'edit':  `/v1/api/seasongroups/edit/${to.params.id}`
        }

        return (urls[to.meta.mode] || urls['create'])
    }
    export default {
        components: { Typeahead,Buttons,Modal },
        data () {
            return {
                dp: "",
                scale:"Day",
                dpScales:{},
                //
                settings: {},
                apiList:'',
                apiCreate:'',
                apiEdit:'',
                apiCreate:'',
                apiUpdate:'',     
                //
                urlList:'',
                urlCreate:'', 
                urlEdit:'',
                //modelList: '/properties',
                ////////////////////////////////////////////////////////// 
                editMode: this.$route.meta.mode,
                form: {},
                form2: {seasonObject:{}},
                errors: {},
                isProcessing: false,
                show: false,
                method: 'POST',
                title: 'Create',
                //////////////////////////////////////////////////////////
                payments:[],
                statuses:[],               
                errors:{},
                errors2:{},               
                seasonprices: [],   
                showPriceDetail: false,              
                pricedetails:false,               
                resources:[],
                //
                seasonObject:{}     
               
            }
        },
        beforeRouteEnter(to, from, next) {               
            get('/v1/api'+to.path)
                .then((res) => {
                    next(vm => vm.setData(res))
                })
        },
        beforeRouteUpdate(to, from, next) {             
            this.show = false
            get('/v1/api'+to.path)
                .then((res) => {
                    this.setData(res)
                    next()
                })
        },
        computed: {
            
        },
        created() {
            this.$eventHub.$on('settings', this.modelSettings) 
        },
        methods: {
            modelSettings(settings){                
                //return name
                this.settings = settings;
                this.urlList = settings.urlList
                this.urlEdit = settings.urlEdit
                this.urlCreate = settings.urlCreate
                //         
                this.apiList = settings.apiList
                this.apiDelete = settings.apiDelete
                this.apiCreate = settings.apiCreate
                this.apiEdit = settings.apiEdit
                this.apiUpdate = settings.apiUpdate
                //console.log(settings)                
            },
            hideModal() {
                $("#addNew").modal("hide");
                this.dp.clearSelection();
                //this.form.reset();
                //this.form.clear();
                //this.seasonprices = {};
                this.getEventsResources()       
            },   
            loadToast(icon,text){
                toast.fire({icon: icon,title: text })
            }, 
            setData(res) {       
                if(this.$route.meta.mode === 'edit') {
                    Vue.set(this.$data, 'form', res.data.form) //causes errors on create
                    this.store = this.apiUpdate + this.$route.params.id
                    this.method = 'PUT'
                    this.title = 'Edit'
                }   
                this.show = true
                //this.$bar.finish()
            },
            //seasonObject
            setData2(res) {
                this.seasonObject = res.data.form
                Vue.set(this.$data, 'form2', res.data.form) 
                this.editMode = 'edit'
            },           
            onDelete(){
                alert('delete')
            },
            onSave() {
                this.errors = {}
                this.isProcessing = true
                byMethod('POST',this.$route.meta.mode === 'edit' ? this.apiUpdate+this.form.id : this.apiCreate , this.form)
                    .then((res) => {
                        if(res.data && res.data.saved) {
                            this.success(res)
                            this.loadToast('success','Updated successfully'); 
                        }
                        if(res.data && res.data.created) {
                            this.success(res)
                             this.loadToast('success','Created successfully');  
                        }
                    })
                    .catch((error) => {
                        if(error.response.status === 422) {
                            this.errors = error.response.data.errors                            
                        }
                        this.isProcessing = false
                    })
            },
            success(res) {
                this.$router.push(`${this.urlList}/${res.data.id}`)
            },            
            editModal(id) {        
                $("#addNew").modal("show") 
                this.getEditSeason(id)
            }, 
            getEditSeason(id) {       
                axios.get('/v1/api/season/edit/'+id).then(res => {  
                    this.setData2(res)     
                })
            },
            onEventResized(formData){      
                var dates = {newStart: formData.newStart.toString("yyyy-MM-dd"), newEnd: formData.newEnd.toString("yyyy-MM-dd"), resource: formData.e.cache.resource};             
                    axios.post('/v1/api/season/domoveorresize',dates).then(res => {
                    if (res.data.errors) {
                        this.loadToast('error','Some errors'); 
                        } else if (res.data.success) {
                        this.loadToast('success','Changed successfully');                                
                    }    
                })
             }, 
            
            /////////////////////////////////////////////////////////////////////////
            doCell(){
                this.dp.scale = this.scale;
                this.dp.update()
                console.log(this.scale)
            },
            getEventsResources() {       
                axios.get('/v1/api/season/getSeasonByGroupId/'+this.$route.params.id).then(res => {                
                    this.dp.resources = res.data.resources 
                    this.dp.events.list = res.data.events 
                    this.dp.update() 
                })
            }, 
            initScheduler() {
            var cp = new DayPilot.Scheduler("dp");
            return cp;
            },   
            settingsDaypilot() {
                let _this = this
                this.dp = this.initScheduler();
                this.dp.startDate = DayPilot.Date.today();  // or just dp.startDate = "2013-03-25";
                this.dp.days = 365;
                this.dp.scale = this.scale;
                this.dp.timeHeaders = [
                { groupBy: "Month", format: "MMM yyyy" },
                { groupBy: "Cell", format: "ddd d" }
                ];

                this.dp.cellWidth = 30;
                this.dp.eventHeight = 30;
                ///////////////////////////////////////////////////////////////////////////Event Area
                this.dp.onBeforeEventRender = function (args) {
                    var start = new DayPilot.Date(args.e.start);
                    var end = new DayPilot.Date(args.e.end);
                    var today = DayPilot.Date.today();
                    var now = new DayPilot.Date();
                    ///////////////////////////////////////////////////////////////////////////Columns   
                    //args.e.html = args.e.text + " (" + start.toString("M/d/yyyy") + " - " + end.toString("M/d/yyyy") + ")";
                    args.e.html = args.e.text + ' ' + args.e.price;
                    args.e.barColor = args.e.colour;
                    args.e.backColor = args.e.colour; //whole event
                    args.e.toolTip = args.e.status;
                    //args.e.html = "<div>" + args.e.html + "<br /> <span style='color:red'>" + args.e.toolTip + "</span></div>";
                    args.e.html = "<div>" + args.e.html + "<br /> </div>";

                    var paid = args.e.paid;
                    var paidColor = "#aaaaaa";

                    args.e.areas = [
                        //{bottom: 10, right: 4, html: "ppp<div style='color:" + paidColor + "; font-size: 8pt;'>Paid: " + paid + "%</div>", v: "Visible"},
                        //{left: 4, bottom: 8, right: 4, height: 2, html: "<div style='background-color:" + paidColor + "; height: 100%; width:" + paid + "%'></div>", v: "Visible"}
                    ];

                };
                //////////////////////////////////////////////////////////////////////////////////////
                this.dp.onBeforeCellRender = function(args) {
                    if (args.cell.resource === "A" && args.cell.start.getDay() === 1) { // first day of month
                    args.cell.backColor = "#ffffd5";
                    args.cell.html = "<div style='position:absolute;right:2px;bottom:2px;font-size:8pt;color:#666;'>Maintenance</div>";
                    args.cell.properties.status = "Under Maintenance";
                    }
                    if (args.cell.resource === "D") {
                    args.cell.backColor = "#ffd5d5";
                    args.cell.html = "<div style='position:absolute;right:2px;bottom:2px;font-size:8pt;color:#666;'>Unavailable</div>";
                    }
                }; 
                               
                this.getEventsResources()
                ///////////////////////////////////////////////////////////CLICK
                this.dp.onEventClicked = function(args) {       
                    _this.editModal(args.e.id())
                }; 
                ////////////////////////////////////////////////////////////////////////////Resize  
                this.dp.onEventResized = function (args) {         
                    _this.onEventResized(args)           
                }; 
                /////////////////////////////////////////////////////////////////////////////Move 
                this.dp.onEventMoved = function (args) {
                    _this.onEventResized(args)          
                    };

    
                this.dp.init();    
                this.dp.scrollTo("2020-07-25");
        
            },
            
        },
        //metods
        mounted() {        
        this.settingsDaypilot(); 
        this.dpScales = [
            {id: 1,width: 'Day' },
            {id: 2,width: 'Week' },
            {id: 2,width: 'Month' },
         ];      
       }
    }
</script>
<style>
    /* .scheduler_default_cellparent, 
    .scheduler_default_cell.scheduler_default_cell_business.scheduler_default_cellparent  {
        background: rgb(223, 107, 107);
    } */
    .scheduler_default_corner div {
    display: none !important;
    }
    .scheduler_default_event_inner{
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        padding:5px 2px 2px 2px;
        overflow:hidden;
        border:0px solid #ccc;
        /* background: grey; */

        /* background:#fff;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
        background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
        background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
        background: linear-gradient(top, #ffffff 0%, #eeeeee);filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee"); */
    }
</style>
