<template>
  <div id="app">
    <div class="navi">
      ////////////////////////////////////////
      <button id="previous"> << </button>
      <button id="today">Today 2019-08-23</button>
      <button id="next"> >> </button>
    </div>
    
    <button type="button" class="close" @click="axiosTest()">axiosTest</button>
    <button type="button" class="close" @click="goToDate()">goToDate</button>
    <button type="button" class="close" @click="settingsDaypilot()">settingsDaypilot</button>
    <br>
    <div id="dp"></div>

        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addNewLabel">{{ editmode ? 'Edit Record' : 'New Record' }}</h5>
                  
                        <div class="col-md-2">   
                           <div class="form-group">
                             
                              <input v-model="form.time_from" type="text" name="time_from" 
                              placeholder="Time to"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('time_from') }" disabled>
                              <has-error :form="form" field="time_from"></has-error>
                          </div>
                      </div>
                      <div class="col-md-2">   
                           <div class="form-group">
                             
                              <input v-model="form.time_to" type="text" name="time_from" 
                              placeholder="Time to"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('time_to') }" disabled>
                              <has-error :form="form" field="time_to"></has-error>
                          </div>
                      </div>
                   
                   

                    <button type="button" class="close" @click="hideModal()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                   
                <form @submit.prevent="editmode ? updateUser() : addEvent()">
                    <input v-model="form.resource_id" type="hidden" name="resource_id" id="resource_id" class="form-control">
                    <input v-model="form.group_id" type="hidden" name="group_id" id="group_id" class="form-control" >
                    <input v-model="form.seasongroup_id" type="hidden" name="seasongroup_id" id="seasongroup_id" class="form-control" >
                    <input v-model="form.customer_id" type="hidden" name="customer_id" id="customer_id" class="form-control" >

                  <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                          
                              <div class="form-group">
                                  <label>Find Existing Customer</label>
                                  <typeahead :url="customerURL" :initialize="form.customer"
                                      @input="onCustomer" />
                                  <small class="error-control" v-if="errors.customer_id">
                                      {{errors.customer_id[0]}}
                                  </small>
                              </div>
                          

                          <div class="form-group">
                              <input v-model="form.first_name" type="text" name="first_name"
                                  placeholder="First Name"
                                  class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                                 <has-error :form="form" field="first_name"></has-error>
                          </div>
                            
                            <div class="form-group">
                              <input v-model="form.last_name" type="text" name="last_name"
                                  placeholder="Last Name"
                                  class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                              <has-error :form="form" field="last_name"></has-error>
                          </div>


                            <div class="form-group">
                              <select v-model="form.payment_id" class="form-control" :class="{ 'is-invalid': form.errors.has('payment_id') }">
                                <option v-for="payment in payments" :value="payment.id">
                                  {{payment.name}}
                                </option>
                              </select>
                              <has-error :form="form" field="payment_id"></has-error>
                            </div>

                            <div class="form-group">
                              <select v-model="form.status_id" class="form-control" :class="{ 'is-invalid': form.errors.has('status_id') }">
                                <option v-for="status in statuses" :value="status.id">
                                  {{status.name}}
                                </option>
                              </select>
                               <has-error :form="form" field="status_id"></has-error>
                            </div>                          
                            
                      </div>

                      <div class="col-md-3"> 
                        fff 
                      </div>

                        <div class="col-md-6"> 

                          <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-gradient-success">
                      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Likes</span>
                        <span class="info-box-number">41,410</span>

                        <div class="progress">
                          <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                          70% Increase in 30 Days
                        </span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                  </div>


                        <div class="row" style="font-size:10px">
                            <button @click="showPriceDetail = !showPriceDetail" :aria-expanded="showPriceDetail ? 'true' : 'false'" class="btn btn-danger" type="button">More Details </button>
                         
                          <div class="" v-if="seasonprices.standard_days_number > 0">
                            Stand Days Price: {{ seasonprices.standard_total_price }}  
                          </div>

                          <div class="" v-if="seasonprices.season_days_number > 0">
                            Season Days Price: {{ seasonprices.season_total_price }}  
                          </div>

                          <div class="">
                            Total Price: {{ seasonprices.total_price }}  
                          </div>
                          <br>
                        
                          <div class="message" v-if="showPriceDetail"> 
                              
                            <ul>
                                <li v-for="stn in seasonprices.standard_days">
                                      <span href="" > Standard Price {{ stn.day }} {{ stn.price_per_day }}  </span>
                                </li>
                            </ul>
                              
                            //////////////////////////////////////
                                
                            <ul>
                                <li v-for="season in seasonprices.seasons_days">
                                      <span href="" >{{ season.seazon_name }} {{ season.day }}  {{ season.price_per_day }} </span>
                                </li>
                            </ul>
                            
                          </div>
                      </div>
                      </div>


                      </div> 
                      
                  </div>
                    
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @click="hideModal()">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                  </div>
                    
                  </form>
                    
                </div>
              </div>
            </div>
        <!-- Modal -->

</div>
</template>

<script>
  import { DayPilot } from "daypilot-pro-vue";
  import Vue from "vue";
  import axios from "axios";
  import { get } from "../lib/api";
  import { Form, HasError, AlertError } from 'vform'
  import {Typeahead } from '../components/typeahead'
////////////////

export default {
  components: { Typeahead },
  name:'dashboard4',
  data() {
    return {
      dp: "",
      costam: "",
      model: {
        data: []
      },
      editmode: false,
      // form: {},
      form: new Form({                    
          time_from: "",
          time_to: "",
          resource_id: "",
          group_id: "",
          seasongroup_id: "",
          customer_id: "",
          payment_id: 1,
          status_id: 1,                   
      }), 

      payments:[],
      statuses:[],
      argsGlobal: "",
      dpGlobal: "",
      propertyGlobal: "",
      errors:{},
      message:[],      
      customerURL: '/api/customers',
      ////
      seasonprices: [],   
      showPriceDetail: false,

    };
  },

  methods: {
    onCustomer(e) {
      const customer = e.target.value
      Vue.set(this.$data.form, 'first_name', customer.first_name)
      Vue.set(this.$data.form, 'last_name', customer.last_name)
      Vue.set(this.$data.form, 'customer_id', customer.id)
      
    },
    loadToast(icon,text){
      toast.fire({icon: icon,title: text })
    },  
    hideModal() {
      $("#addNew").modal("hide");
      this.dp.clearSelection();
      this.form.reset();
      this.form.clear();
      this.seasonprices = {};      
    },
    detailsPage(item) {
      this.$router.push(this.resourceUrl + "/" + item.id);
    },
    deleteModal(args) {       
      var data = {booking_id: args.e.data.id};       
      axios.post('/v1/api/booking/doDeleteBooking',data).then(res => {
            if (res.data.errors) {
              alert('error')
            } else if (res.data.success) {
              this.loadToast('success','Deleted successfully');                                
           } 
      })
    },
    showModal(args,dp,property) {        
      $("#addNew").modal("show")         
      this.form.time_from = args.start.toString("yyyy-MM-dd")
      this.form.time_to =  args.end.toString("yyyy-MM-dd")
      this.form.resource_id =  args.resource
      this.form.group_id = property[0].uuid
      this.form.seasongroup_id = property[0].seasongroup_id 
      this.dp = dp 
      this.args = args  
      this.getSeasonPrices()  

    },   
    addEvent(){               
    this.form.post('/v1/api/booking/newBookingsPost').then(res => {
            if (res.data.errors) {
              alert('error')
            } else if (res.data.success) {
              var e = new DayPilot.Event({
                        start: this.args.start,
                        end: this.args.end,
                        id: this.args.resource,
                        resource: this.args.resource,
                        text: this.form.first_name
            });
            this.hideModal()
            this.loadToast('success','Created successfully');  
            this.dp.events.add(e)          
            this.getEventsResources(this.dp)   
           
           }    
      })

   }, 
   getSeasonPrices() { 
      var params = {start: this.form.time_from, end: this.form.time_to, resource: this.form.resource_id};      
      axios.post('/v1/api/booking/getSeasonPrices',params).then(res => {
        this.seasonprices = res.data;
      })
    },  

    initScheduler() {
      var cp = new DayPilot.Scheduler("dp");
      return cp;
    },   
     getEventsResources(dp) {       
      axios.get('/v1/api/booking/getEventsResources').then(res => {
        dp.events.list = res.data.events
        dp.resources = res.data.resources 
        dp.update()    
      })
    }, 
    settingsDaypilot() {
      let _this = this
      var dp = this.initScheduler(); 
      dp.timeHeaders = [
      {groupBy: "Month", format: "MMM yyyy"},
      {groupBy: "Cell", format: "ddd d"}
      ];
      dp.scale = "Day";
      dp.days = DayPilot.Date.today().daysInYear();
      dp.startDate = DayPilot.Date.today().firstDayOfMonth();
      dp.timeRangeSelectedHandling = "Enabled";
      dp.treeEnabled = true;
      dp.eventDeleteHandling = "Update";
      //////////////////////////////////////////////////////////
      dp.onEventDelete = function(args) {
        _this.deleteModal(args) 
      };
      //////////////////////////////////////////////////////////load stuff
      this.getEventsResources(dp)

      dp.onTimeRangeSelected = function (args) {
        var dp = this;
        var property = [];
        dp.resources.forEach(function (element) {                    
          element.children.forEach(function (item) {                             
            if (args.resource == item.id) {
              property = [item];
            }
          });
        });          
        _this.showModal(args,dp,property) 
      };
      dp.onEventClicked = function(args) {
        alert("clicked: " + args.e.id());

      };    

      dp.init();

      $(document).ready(function () {
        $("#previous").click(function () {
          dp.scrollTo(dp.getViewPort().start.addMonths(-1), "fast");
        });
        /////////////////////////
        $("#today").click(function () {
          var today = DayPilot.Date.today();
          if (dp.visibleStart() < today && today < dp.visibleEnd()) {
                //dp.scrollTo(today, "fast");
                dp.scrollTo(new DayPilot.Date().addDays(-15));
              } else {
                //dp.infinite.scrollTo(today);
                dp.scrollTo(new DayPilot.Date().addDays(-15));
              }
            });
        /////////////////////
        $("#next").click(function () {
          dp.scrollTo(dp.getViewPort().start.addMonths(1), "fast");
        });
        ///////////////////       

      }); 

    }
  },
  ///////////////////////////////////////////////////////

  mounted() {
    //console.log("mounted");
    this.settingsDaypilot();

    this.payments = [
    {id: 1,name: 'Red' },
    {id: 2,name: 'Blue' },
    {id: 3,name: 'Green' },
    ];
    this.statuses = [
    {id: 1,name: 'Audi' },
    {id: 2,name: 'BMW' },
    {id: 3,name: 'Citroen' },
    {id: 4,name: 'Ford' },
    ];
  }
};
</script>