<template>
  <div class="container">



      
    <form @submit.prevent="editmode ? createUser() : createUser()">
     
      <pre><code>{{form}}</code></pre>

      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">              
              <input v-model="form.title" type="text" name="title" class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
              <has-error :form="form" field="title"></has-error>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <label class="label">Time to</label>
            <div class="control">
              <!-- <input class="input" type="text" v-model="form.title"> -->
              <input v-model="form.time_to" type="text" name="time_to" class="form-control" :class="{ 'is-invalid': form.errors.has('time_to') }">
              <has-error :form="form" field="time_to"></has-error>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <label class="label">Favorite Color</label>
            <div class="control">
              <div class="select">
                <select v-model="form.group_id">
                  <option v-for="group in groups" :value="group.id">{{group.title}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <label class="label">Favorite Car</label>
            <div class="control">
              <span v-for="season in seasonGroups">
                <input type="radio" :value="season.id" v-model="form.seasongroup_id">
                {{season.title}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <label class="label">Permissions</label>
            <span v-for="item in allInventories"><br>
              <input type="checkbox" :value="item.id" v-model="form.selectedInventories">
              <span class="checkbox-label">{{item.title}}</span>
              
            </span>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <label class="label">How many hours a week do you work?</label>
            <div class="control">
              <h4 class="title is-4">{{form.area}} </h4>
              <input type="range" min="0" max="500" v-model="form.area">
            </div>
          </div>
        </div>
      </div>

       <input class="button is-primary margin-bottom" type="submit" @click.prevent="fakeSubmit">
       <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
    </form>

    <transition name="fade" mode="out-in">
      <article class="message is-primary" v-show="showSubmitFeedback">
        <div class="message-header">
          <p>Fake Send Status:</p>
        </div>
        <div class="message-body">
          Successfully Submitted!
          {{form}}
        </div>
      </article>
    </transition>
    <hr>
    
  </div>
</template>

<script>
import { get, byMethod } from "../lib/api";
import { Form, HasError, AlertError } from 'vform'
export default {
    data() {
    return {
     editmode: false,
     form: new Form({
             title:  '',
             time_to:  '',                
             group_id: '',
             seasongroup_id: '',
             area: '',
             selectedInventories: [],
             //errors:{}, 
      }), 
      groups:[],
      seasonGroups:[],
      grantedInventories:[], //dont need allPermissions in form only selected 
	    allInventories:[], //dont need allPermissions in form only selected 
      showSubmitFeedback: false,
      
    };
  },    
  
  ///////////////////
  mounted() {
    this.getApi();
  },
  ////////////////////////////////////////////////


  methods: {
    fakeSubmit() {
      this.showSubmitFeedback = true;
    },
    createUser(){              
                this.form.post('/v1/api/booking/newBookingsPost',this.form) 
                .then(()=>{ 
                  
                })
                .catch(()=>{
                })
                
    }, 
    getApi() {   
    byMethod('GET',"/v1/api/properties/" + 1 +'/edit')
        .then(res => {          
             this.allInventories = res.data.allinventories             
             this.groups = res.data.allgroups
             this.seasonGroups = res.data.seasonGroups
             ////
             this.grantedInventories = res.data.form.inventories
             this.form.group_id = res.data.form.group_id
             this.form.title = res.data.form.title
             this.form.seasongroup_id = res.data.form.seasongroup_id
             this.form.area = res.data.form.area

             this.form.originalData =[]
             //
             this.objectToArray(); 
        })
        .catch(error => {         
            this.errors = error.response.data.errors;  
        });

      
        this.colours = [
          { id: 1, name: "Red" },
          { id: 2, name: "Blue" },
          { id: 3, name: "Green" }
        ],
        // this.seasonGroups = [
        //   { id: 1, title: "Audi" },
        //   { id: 2, title: "BMW" },
        //   { id: 3, title: "Citroen" },
        //   { id: 4, title: "Ford" }
        // ],
        // this.grantedPermissions = [
        //   { id: 5, name: "permission-5", age: 30 },
        //   { id: 6, name: "permission-6", age: 30 }
        // ],
        this.objectToArray();    
        
    },

    objectToArray() {
      var janek_array = [];
      this.grantedInventories.forEach(element => {
        janek_array.push(element.id);
      });
      this.form.selectedInventories = janek_array;
    }
  }
};
</script>
