<template>
    <div class="row">          
                   
                <form @submit.prevent="editmode ? createUser() : createUser()">                          
                  <div class="modal-body">                      
                      <div class="form-group">
                        <input v-model="form.time_to" type="text" name="time_to"
                            placeholder="time_to"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('time_to') }">
                        <has-error :form="form" field="time_to"></has-error>
                    </div>                                           
                  </div>
                    
                  <div class="modal-footer">
                   
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                  </div>   

                  </form>                    
                
        </div>
    
    
    
    
    
</template>

<script>
    export default {
        data() {
            return {
               editmode: false,               
               form: new Form({                   
                    title : '',                    
                }) 
            }
        },
        methods: {           
            createUser(){              
                this.form.post('/v1/api/booking/newBookingsPost',this.form) 
                .then(()=>{ 
                  
                })
                .catch(()=>{
                })
                
            },          
           
        },        
        
        
    }    
</script>