<template>
  <div>
      <DayPilotScheduler id="dp" :config="config" ref="scheduler" />
  </div>
</template>

<script>
import {DayPilot, DayPilotScheduler} from 'daypilot-pro-vue'

export default {
  name: 'Scheduler',
  data: function() {
    return {
      config: {
        timeHeaders: [
          {groupBy: "Month"},
          {groupBy: "Day", format: "d"}
        ],
        scale: "Day",
        startDate: DayPilot.Date.today().firstDayOfYear(),
        days: DayPilot.Date.today().daysInYear(),
        resources: [
          {name: "Resource 1", id: "R1"},
          {name: "Resource 2", id: "R2"},
          {name: "Resource 3", id: "R3"}
        ],
        events: [
          {id: 1, text: "Event 1", start: DayPilot.Date.today().addDays(2), end: DayPilot.Date.today().addDays(5), resource: "R2"}
        ],
        scrollTo: DayPilot.Date.today()
      },
    }
  },
  components: {
    DayPilotScheduler
  },
  computed: {
    // DayPilot.Scheduler object - https://api.daypilot.org/daypilot-scheduler-class/
    scheduler: function () {
      return this.$refs.scheduler.control;
    }
  },
  mounted: function() {
    this.scheduler.message("Welcome!");
  }
}
</script>

<style scoped>
</style>