<template>
    <div class="panel" v-if="show">
        <div class="panel-heading">
            <span class="panel-title">{{model.number}}</span>
            <div>
                <router-link to="/usersindex" class="btn btn-primary">Back</router-link>
                <router-link :to="`/usersindex/${model.id}/edit`" class="btn btn-primary">Edit</router-link>
                <button class="btn btn-primary" @click="deleteItem">Delete</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="document">
                <div class="row">
                    <div class="col-6">
                        <strong>To:</strong>
                        <div>
                            
                        </div>
                    </div>
                    <div class="col-6 col-offset-12">
                        <table class="document-summary">
                            <tbody>
                                
                                <tr>
                                    <td>Number</td>
                                    <td>{{model.name}}</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>{{model.email}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod} from '../../lib/api'

    export default {
        data () {
            return {
                show: false,               
                model: {
                    //items: [],
                    //customer: {}
                }
            }
        },
        beforeRouteEnter(to, from, next) {
            get(`/users/index/${to.params.id}`)
                .then((res) => {
                    next(vm => vm.setData(res))
                })
        },
        beforeRouteUpdate(to, from, next) {
            this.show = false
            get(`/users/index/${to.params.id}`)
                .then((res) => {
                    this.setData(res)
                    next()
                })
        },


        methods: {
            setData(res) {
                Vue.set(this.$data, 'model', res.data.form)
                this.show = true
                //this.$bar.finish()
            },
            deleteItem22() {
                byMethod('delete', `/users/${this.model.id}`)
                    .then((res) => {
                        if(res.data.deleted) {
                            this.$router.push('/users')
                        }
                    })
            },
            deleteItem(){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                byMethod('delete', `/users/${this.model.id}`).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    //Fire.$emit('AfterCreate');
                                    this.$router.push('/users')
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
        }
    }
</script>
