<template>
    <div>        

             <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <Buttons :editMode="editMode" :model="model"></Buttons>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <!-- <h3 class="card-title">Client {{ editMode }} </h3> -->
                            <!-- <Buttons :editMode="editMode" :model="model"></Buttons> -->
                        </div>
                        
                        <div class="card-body">
                              
                            <div class="row">
                                                            
                                <div class="col-md-12">
                                    <div class="form-group ">
                                         <label for="inputSkills" class="col-sm-2 col-form-label">Photos</label>
                                         <DzoneComponent :photableType="photable_Type" :photosList="photos_List" :photableId="photable_Id" :editMode="editMode"></DzoneComponent>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input v-model="form.first_name_t" type="text" name="first_name_t" class="form-control" :class="{ 'is-invalid': errors.first_name_t }" >
                                        <span v-if="errors.first_name_t" class="error invalid-feedback">{{errors.first_name_t[0]}}</span>
                                    </div>                                                                    
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Surame</label>
                                        <input v-model="form.last_name_t" type="text" name="last_name_t" class="form-control" :class="{ 'is-invalid': errors.last_name_t }" >
                                        <span v-if="errors.last_name_t" class="error invalid-feedback">{{errors.last_name_t[0]}}</span>
                                    </div>                                                                    
                                </div>


                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input v-model="form.phone_t" type="text" name="phone_t" class="form-control" :class="{ 'is-invalid': errors.phone_t }" >                                         
                                        <span v-if="errors.phphone_tone_n" class="error invalid-feedback">{{errors.phone_t[0]}}</span>
                                    </div>                                                                    
                                </div>
                                                           
                                <div class="col-md-3">                                   
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input v-model="form.email_t" type="text" name="email_t" class="form-control" :class="{ 'is-invalid': errors.email_t }" >                                        
                                        <span v-if="errors.email_t" class="error invalid-feedback">{{errors.email_t[0]}}</span>
                                    </div>  
                                </div>                     
                            </div>
                                     
                            <div class="row">                               
                                <div class="col-md-12">                                   
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea v-model="form.description" type="text" name="description" class="form-control" :class="{ 'is-invalid': errors.description }" ></textarea>
                                        
                                         <span v-if="errors.description" class="error invalid-feedback">{{errors.description[0]}}</span>
                                    </div>  
                                </div>                                 
                            </div>
                            
                            <div class="row">
                               <div class="col-md-3">
                               <div class="form-group">
                                        <label>Address 1</label>
                                        <input v-model="form.address_line1" type="text" name="address_line1" class="form-control" :class="{ 'is-invalid': errors.address_line1 }" >
                                        <div class="alert alert-danger" v-if="errors.address_line1"> {{errors.address_line1[0]}}</div>
                                </div> 
                                </div> 

                                 <div class="col-md-3">
                               <div class="form-group">
                                        <label>Address 2</label>
                                        <input v-model="form.address_line2" type="text" name="address_line2" class="form-control" :class="{ 'is-invalid': errors.address_line2 }" >
                                        <div class="alert alert-danger" v-if="errors.address_line2"> {{errors.address_line2[0]}}</div>
                                </div> 
                                </div> 


                                <div class="col-md-3">
                                 <div class="form-group">
                                        <label>City</label>
                                        <input v-model="form.city" type="text" name="city" class="form-control" :class="{ 'is-invalid': errors.city }" >
                                         <div class="alert alert-danger" v-if="errors.city"> {{errors.city[0]}}</div>
                                </div> 
                                </div>

                                <div class="col-md-3">
                                 <div class="form-group">
                                        <label>Postcode</label>
                                        <input v-model="form.postcode" type="text" name="postcode" class="form-control" :class="{ 'is-invalid': errors.postcode }" >
                                         <div class="alert alert-danger" v-if="errors.postcode"> {{errors.postcode[0]}}</div>
                                </div> 
                                </div>

                        </div>
                            
                            <div class="row">
                  
                                <div class="col-md-3">
                                    <input v-model="form.lat" type="text" class="form-control" id="latitude" placeholder="Latitude" disabled>
                                </div>
                                <div class="col-md-3">
                                    <input v-model="form.lng" type="text" class="form-control" id="longitude" placeholder="Longitude" disabled>
                                </div>

                                <div class="col-md-3">                                  
                                   <button id="target2" @click="searchLocation2()" class="btn btn-secondary">Search Location...</button>
                                </div>
                            </div>

                            <LocationPicker ref="LocationPicker" v-if="isMounted" :lat="lat" :lng="lng" @update-location="updateLocation"> </LocationPicker>
                                                               
                       </div> 
                        
                        <div class="card-footer">
                            <div>                               
                                <Buttons :editMode="editMode" :model="model"></Buttons>
                            </div>
                        </div>
                        
                        
            </div>
         </div>
      </div>          
            
      <RecordsRepository ref="RecordsRepo" > </RecordsRepository>

    </div>
</template>

<script type="text/javascript">
    import Vue from 'vue'
    import {get, byMethod } from '../../lib/api'    
    import Buttons from '../../components/buttons/Buttons'
    import Datepicker from 'vuejs-datetimepicker'
    import Multiselect from 'vue-multiselect'
    import RecordsRepository from '../../repositories/RecordsRepository.vue'
    import LocationPicker from '../../components/locationpicker/LocationPicker3' 
    import DzoneComponent from '../../components/dzone/DzoneComponent' 

    export default {
        components: { Buttons, Datepicker, Multiselect, RecordsRepository, LocationPicker, DzoneComponent },
       
        data () {
            return {
                model:'customers',                            
                ////////////////////////////////////////////////////////// 
                editMode: this.$route.meta.mode,
                   
                lat:'',lng:'',
                isMounted: false,
                form: { active:0,}, errors: {},                         
                //////////////////////////////////////////////////////////               
                photable_Type: "App\\Customer", photable_Id: this.$route.params.id,photos_List:[], 
                photos_List:'',
                //
                datetime:'',date:'',
                //              
            }
        },
        beforeRouteEnter(to, from, next) {            
            get('/v1/api'+to.path).then((res) => {  next(vm => vm.setData(res))  })
        },         
        methods: {
            /////////////////////////////
            searchLocation2(){
              var city = this.form.city
              var address_line1 = this.form.address_line1             
              this.$refs.LocationPicker.searchLocation2(city)
            },
            updateLocation(itm) {             
               Vue.set(this.form, 'lat', itm.lat) 
               Vue.set(this.form, 'lng', itm.lng)               
            },
            //////////////////////////
            nameWithNameLastName ({ title_t }) {
                return `${title_t}`
            },           
            setData(res) { 
                if(this.$route.meta.mode === 'edit') {
                    Vue.set(this.$data, 'form', res.data.form)
                    this.photos_List = res.data.form.photos;
                    this.lat = res.data.form.lat
                    this.lng = res.data.form.lng                     
                } 
                //this.reccurences =  res.data.reccurences
                //this.alllocations =  res.data.alllocations //alllocations 
               
                this.isMounted = true
                if(this.$route.meta.mode === 'create') {
                var itm
                this.updateLocation(itm = {lat:40.446947, lng:13.004})  
                }
            },
            onSave() {
                this.$refs.RecordsRepo.onSave(this.model,this.$route.params.id,this.form,this.$route.meta.mode) 
            },
            
  
        }
    }
</script>
 <style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
